Repository pdugan20/claudelint: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Rules, Validators, CLI, Configuration, Schemas

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

# Files and directories to ignore in coverage reports
ignore:
  # Test fixtures and test data
  - "tests/fixtures/**"
  - "tests/__temp__/**"
  - "tests/**/*.fixture.ts"

  # Generated code
  - "src/rules/rule-ids.ts"
  - "src/rules/index.ts"

  # Scripts and tooling
  - "scripts/**"
  - "bin/**"

  # Examples and documentation
  - "examples/**"
  - "docs/**"

  # Type definitions
  - "**/*.d.ts"

  # Build output
  - "dist/**"
  - "coverage/**"
  - "node_modules/**"

  # Configuration files
  - "*.config.js"
  - "*.config.ts"
  - ".eslintrc.js"
  - "jest.config.js"

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# GitHub Checks
github_checks:
  annotations: true

# Flag management for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: rules
      name: Rules
      paths:
        - src/rules/**

    - component_id: validators
      name: Validators
      paths:
        - src/validators/**

    - component_id: cli
      name: CLI
      paths:
        - src/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/config/**

    - component_id: schemas
      name: Schemas
      paths:
        - src/schemas/**

refactor: centralize CSS colors as custom properties and add stylelint
  .stylelintrc.json
  knip.config.ts
  package-lock.json
  package.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/theme/components/HomeFooter.vue
  website/.vitepress/theme/components/RuleBadge.vue
  website/.vitepress/theme/components/RuleCard.vue
  website/.vitepress/theme/components/RuleHeader.vue
  website/.vitepress/theme/style.css
Due: none

feat: add realistic typing animation to terminal demo
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/theme/components/TerminalDemo.vue
  website/.vitepress/theme/style.css
Due: none

fix: correct GitHub repo references from claude-code-lint to claudelint
  .claude-plugin/README.md
  docs/api/README.md
  package.json
  scripts/check/self-validate.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/reporting/reporting.ts
  website/development/contributing.md
  website/guide/cli-reference.md
  website/integrations/claude-code-plugin.md
Due: unittests

style: refine nav, headings, and search to match Anthropic design
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/config.mts
  website/.vitepress/theme/style.css
Due: none

style: add hover border to theme toggle switch
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/theme/style.css
Due: none

docs: add component-level CLAUDE.md files for monorepo structure
  CLAUDE.md
  src/CLAUDE.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/CLAUDE.md
Due: unittests

fix: correct rule-ids.ts path in CLAUDE.md files
  CLAUDE.md
  src/CLAUDE.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: unittests

fix: cache invalidation now tracks validated file mtimes
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/cache.ts
  src/utils/reporting/reporting.ts
  src/validators/agents.ts
  src/validators/claude-md.ts
  src/validators/file-validator.ts
  src/validators/output-styles.ts
  src/validators/schema-validator.ts
  src/validators/skills.ts
  tests/utils/cache.test.ts
Due: unittests, Validators

refactor: ESLint-style file grouping and relative paths in CLI output
  src/cli/commands/check-all.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/reporting/reporting.ts
  tests/integration/fixture-projects.test.ts
  tests/utils/reporting.test.ts
  website/data/rule-stats.json
Due: unittests, CLI

refactor: polish CLI output with dedup, collapse, and visual cleanup
  src/cli/commands/check-all.ts
  src/rules/claude-md/claude-md-import-missing.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/reporting/reporting.ts
  src/validators/skills.ts
  tests/integration/fixture-projects.test.ts
  tests/utils/reporting.test.ts
Due: unittests, Rules, Validators, CLI

feat: add three-tier explain mode design and docs.rationale field
  docs/projects/cli-output-overhaul/README.md
  docs/projects/cli-output-overhaul/explain-mode-spec.md
  docs/projects/cli-output-overhaul/formatting-spec.md
  docs/projects/cli-output-overhaul/message-audit.md
  docs/projects/cli-output-overhaul/progress-tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-frontmatter-unknown-keys.ts
  src/rules/skills/skill-missing-changelog.ts
  src/rules/skills/skill-path-traversal.ts
  src/rules/skills/skill-tags.ts
  src/types/rule-metadata.ts
  src/utils/reporting/reporting.ts
  src/validators/file-validator.ts
  website/data/rule-stats.json
  website/rules/skills/skill-frontmatter-unknown-keys.md
  website/rules/skills/skill-missing-changelog.md
Due: unittests, Rules, Validators

docs: fix stale output examples, add orphan detection and cache troubleshooting
  .husky/pre-commit
  package.json
  scripts/check/orphaned-rule-docs.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/api/formatters.md
  website/guide/glossary.md
  website/guide/troubleshooting.md
  website/guide/why-claudelint.md
  website/integrations/monorepos.md
  website/rules/plugin/commands-in-plugin-deprecated.md
Due: none

feat: replace ignore engine with node-ignore, add --no-collapse and --max-warnings flags
  .claudelintignore
  package-lock.json
  package.json
  src/CLAUDE.md
  src/cli/commands/check-all.ts
  src/cli/commands/validator-commands.ts
  src/rules/claude-md/claude-md-file-reference-invalid.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/config/ignore.ts
  src/utils/config/types.ts
  src/utils/filesystem/files.ts
  src/utils/reporting/reporting.ts
  tests/integration/cli.test.ts
  tests/utils/ignore.test.ts
  tests/utils/reporting.test.ts
  website/guide/cli-reference.md
Due: unittests, Rules, CLI

fix: remove stale self-validate.ts reference from check:all
  scripts/check/all.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

style: fix Prettier formatting in .eslintrc.json
  .eslintrc.json
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

refactor: improve rule hardcoded lists and skill-description-quality
  presets/recommended.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/settings/settings-invalid-permission.ts
  src/rules/skills/skill-description-quality.ts
  src/rules/skills/skill-overly-generic-name.ts
  src/rules/skills/skill-xml-tags-anywhere.ts
  tests/presets/__snapshots__/preset-generation.test.ts.snap
  tests/rules/skills/skill-description-quality.test.ts
  website/.vitepress/theme/components/TerminalDemo.vue
  website/data/rule-stats.json
  website/rules/skills/skill-description-quality.md
Due: unittests, Rules

fix: update rule-structure script to check website/rules/ instead of frozen docs/
  scripts/verify/rule-structure.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

refactor: align skill rules with Anthropic skill guide
  docs/rules/skills/skill-multi-script-missing-readme.md
  presets/all.json
  presets/recommended.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-body-missing-usage-section.ts
  src/rules/skills/skill-missing-changelog.ts
  src/rules/skills/skill-missing-examples.ts
  src/rules/skills/skill-missing-version.ts
  src/rules/skills/skill-multi-script-missing-readme.ts
  src/rules/skills/skill-readme-forbidden.ts
  src/rules/skills/skill-too-many-files.ts
  src/rules/skills/skill-xml-tags-anywhere.ts
  tests/presets/__snapshots__/preset-generation.test.ts.snap
  tests/rules/skills/skill-body-missing-usage-section.test.ts
  tests/rules/skills/skill-multi-script-missing-readme.test.ts
  website/data/rule-stats.json
  website/rules/_sidebar.json
  website/rules/skills/skill-body-missing-usage-section.md
  website/rules/skills/skill-multi-script-missing-readme.md
  website/rules/skills/skill-readme-forbidden.md
  website/rules/skills/skill-too-many-files.md
Due: unittests, Rules

fix: remove orphaned legacy docs for deleted agent rules
  docs/rules/agents/agent-missing-system-prompt.md
  docs/rules/agents/agent-name-directory-mismatch.md
Due: none

fix: broken doc links caught by updated link checker
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/development/contributing.md
  website/development/custom-rules.md
Due: none

ci: add Dependabot auto-merge workflow for minor/patch updates
  .github/workflows/dependabot-auto-merge.yml
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/data/rule-stats.json
  website/guide/glossary.md
Due: none

feat: add SkillCard component and enable skill auto-discovery
  .husky/pre-commit
  skills/format-cc/SKILL.md
  skills/optimize-cc-md/SKILL.md
  skills/validate-all/SKILL.md
  skills/validate-cc-md/SKILL.md
  skills/validate-hooks/SKILL.md
  skills/validate-mcp/SKILL.md
  skills/validate-plugin/SKILL.md
  skills/validate-settings/SKILL.md
  skills/validate-skills/SKILL.md
  src/rules/claude-md/claude-md-size.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/theme/components/SkillCard.vue
  website/.vitepress/theme/index.ts
  website/CLAUDE.md
  website/data/rule-stats.json
  website/guide/cli-reference.md
  website/guide/getting-started.md
  website/guide/why-claudelint.md
  website/integrations/claude-code-plugin.md
  website/rules/claude-md/claude-md-size.md
  website/validators/skills.md
Due: unittests, Rules

feat: add agent validation to homepage terminal demo
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/theme/components/TerminalDemo.vue
Due: none

fix: update metadata test to expect skills without disable-model-invocation
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/skills/metadata.test.ts
Due: none

fix: narrow side-effects rule to only flag unscoped Bash
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-side-effects-without-disable-model.ts
  tests/rules/skills/skill-side-effects-without-disable-model.test.ts
  website/data/rule-stats.json
  website/rules/skills/skill-side-effects-without-disable-model.md
Due: unittests, Rules

fix: soften pager link hover border for light/dark themes
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/theme/style.css
  website/data/rule-stats.json
Due: none

docs: audit and cleanup contributing page, add fixture preview scripts
  package.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/fixtures/projects/README.md
  website/development/contributing.md
Due: none

feat: add source-path auto-linking plugin and regression checks
  .claudelintignore
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pr-size.yml
  .github/workflows/stale.yml
  .github/workflows/welcome.yml
  CONTRIBUTING.md
  package.json
  scripts/check/all.ts
  scripts/check/source-paths.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/config.mts
  website/.vitepress/plugins/source-link.ts
  website/data/rule-stats.json
  website/development/architecture.md
  website/development/contributing.md
  website/development/custom-rules.md
  website/development/overview.md
  website/guide/glossary.md
Due: none

fix: normalize Windows backslashes in generated import paths
  scripts/generate/rule-types.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: remove Windows from test matrix until path issues are resolved
  .github/workflows/ci.yml
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: allow schemas/generated in source path check
  scripts/check/source-paths.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none
