Repository pdugan20/claudelint: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Rules, Validators, CLI, Configuration, Schemas

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

# Files and directories to ignore in coverage reports
ignore:
  # Test fixtures and test data
  - "tests/fixtures/**"
  - "tests/__temp__/**"
  - "tests/**/*.fixture.ts"

  # Generated code
  - "src/rules/rule-ids.ts"
  - "src/rules/index.ts"

  # Scripts and tooling
  - "scripts/**"
  - "bin/**"

  # Examples and documentation
  - "examples/**"
  - "docs/**"

  # Type definitions
  - "**/*.d.ts"

  # Build output
  - "dist/**"
  - "coverage/**"
  - "node_modules/**"

  # Configuration files
  - "*.config.js"
  - "*.config.ts"
  - ".eslintrc.js"
  - "jest.config.js"

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# GitHub Checks
github_checks:
  annotations: true

# Flag management for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: rules
      name: Rules
      paths:
        - src/rules/**

    - component_id: validators
      name: Validators
      paths:
        - src/validators/**

    - component_id: cli
      name: CLI
      paths:
        - src/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/config/**

    - component_id: schemas
      name: Schemas
      paths:
        - src/schemas/**

test: add unit tests to reach 80% coverage threshold
  .codecov.yml
  jest.config.js
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/api/formatters/compact.test.ts
  tests/api/message-builder.test.ts
  tests/api/result-builder.test.ts
  tests/utils/validators/paths.test.ts
  tests/utils/validators/references.test.ts
Due: none

fix: add badge token to codecov badge URL
  README.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

docs: skip Milestone 2 and mark github-automation complete
  docs/projects/archive/github-automation/tracker.md
  docs/projects/roadmap.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

docs: add RELEASING.md and complete Milestone 3
  RELEASING.md
  docs/projects/roadmap.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: add missing hook events and fix sandbox schema
  schemas/hooks-config.schema.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/schemas/constants.ts
  src/validators/schemas.ts
  tests/schemas/constants.test.ts
  tests/schemas/settings.schema.test.ts
Due: unittests, Validators, Schemas

fix: correct attribution schema and add missing settings fields
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/validators/schemas.ts
  tests/schemas/settings.schema.test.ts
Due: unittests, Validators

fix: rename output_styles to output-styles and OUTPUT_STYLE.md to *.md
  docs/rules/output-styles/output-style-body-too-short.md
  docs/rules/output-styles/output-style-missing-guidelines.md
  docs/rules/output-styles/output-style-name-directory-mismatch.md
  src/rules/index.ts
  src/rules/output-styles/output-style-body-too-short.ts
  src/rules/output-styles/output-style-missing-guidelines.ts
  src/rules/output-styles/output-style-name-directory-mismatch.ts
  src/rules/rule-ids.ts
  src/utils/filesystem/files.ts
  src/validators/file-validator.ts
  src/validators/output-styles.ts
  tests/fixtures/projects/README.md
  tests/fixtures/projects/invalid-all-categories/.claude/output-styles/concise/concise.md
  tests/fixtures/projects/invalid-all-categories/README.md
  tests/fixtures/projects/valid-complete/.claude/output-styles/concise/concise.md
  tests/fixtures/projects/valid-complete/README.md
  tests/rules/output-styles/output-style-body-too-short.test.ts
  tests/rules/output-styles/output-style-missing-guidelines.test.ts
  tests/rules/output-styles/output-style-name-directory-mismatch.test.ts
  tests/utils/path-helpers.test.ts
  tests/validators/output-styles.test.ts
Due: unittests, Rules, Validators

feat: support flat format in MCP configuration files
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/validators/mcp.ts
  src/validators/schemas.ts
  tests/schemas/mcp-config.schema.test.ts
  tests/validators/mcp.test.ts
Due: unittests, Validators

docs: add schema accuracy fixes task tracker
  docs/projects/schema-accuracy-fixes/README.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

refactor: rewrite hooks schema from array to object-keyed-by-event format
  .claude/hooks/hooks.json
  schemas/agent-frontmatter.schema.json
  schemas/hooks-config.schema.json
  schemas/skill-frontmatter.schema.json
  scripts/generate/schema-rules.ts
  src/rules/agents/agent-hooks-invalid-schema.ts
  src/rules/agents/agent-hooks.ts
  src/rules/hooks/hooks-invalid-config.ts
  src/rules/hooks/hooks-invalid-event.ts
  src/rules/hooks/hooks-missing-script.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/schemas/agent-frontmatter.schema.ts
  src/schemas/skill-frontmatter.schema.ts
  src/utils/validators/helpers.ts
  src/validators/agents.ts
  src/validators/hooks.ts
  src/validators/schemas.ts
  tests/fixtures/projects/invalid-all-categories/.claude/hooks/hooks.json
  tests/fixtures/projects/valid-complete/.claude/hooks/hooks.json
  tests/fixtures/projects/valid-complete/.claude/lsp.json
  tests/helpers/fixtures.test.ts
  tests/helpers/fixtures.ts
  tests/integration/plugin.integration.test.ts
  tests/rules/agents/agent-hooks-invalid-schema.test.ts
  tests/rules/agents/agent-hooks.test.ts
  tests/rules/hooks/hooks-invalid-config.test.ts
  tests/rules/hooks/hooks-invalid-event.test.ts
  tests/rules/hooks/hooks-missing-script.test.ts
  tests/schemas/hooks-config.schema.test.ts
  tests/utils/validation-helpers.test.ts
  tests/validators/hooks.test.ts
Due: unittests, Rules, Validators, Schemas

fix: resolve test flakiness with Jest projects config
  jest.config.js
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/integration/config-integration.test.ts
  tests/utils/reporting.test.ts
Due: none

test: add comprehensive fixture projects for integration testing
  .npmpackagejsonlintignore
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/fixtures/projects/invalid-all-categories/.claude/agents/wrong-dir/AGENT.md
  tests/fixtures/projects/invalid-all-categories/.claude/commands/old-command.md
  tests/fixtures/projects/invalid-all-categories/.claude/lsp.json
  tests/fixtures/projects/invalid-all-categories/.claude/settings.json
  tests/fixtures/projects/invalid-all-categories/.claude/skills/bad-skill/SKILL.md
  tests/fixtures/projects/invalid-all-categories/.claude/skills/bad-skill/run.sh
  tests/fixtures/projects/invalid-all-categories/.mcp.json
  tests/fixtures/projects/invalid-all-categories/CLAUDE.md
  tests/fixtures/projects/invalid-all-categories/plugin.json
  tests/fixtures/projects/valid-complete/.claude-plugin/plugin.json
  tests/fixtures/projects/valid-complete/.claude/agents/example-agent/AGENT.md
  tests/fixtures/projects/valid-complete/.claude/rules/testing.md
  tests/fixtures/projects/valid-complete/.claude/settings.json
  tests/fixtures/projects/valid-complete/.claude/skills/example-skill/CHANGELOG.md
  tests/fixtures/projects/valid-complete/.claude/skills/example-skill/SKILL.md
  tests/fixtures/projects/valid-complete/.claude/skills/example-skill/run.sh
  tests/fixtures/projects/valid-complete/.mcp.json
  tests/fixtures/projects/valid-complete/CLAUDE.md
  tests/fixtures/projects/valid-complete/package.json
  tests/fixtures/projects/valid-complete/src/index.ts
  tests/integration/fixture-projects.test.ts
Due: none

docs: add official Claude Code specs reference and archive project
  docs/projects/archive/schema-accuracy-fixes/README.md
  docs/projects/roadmap.md
  docs/projects/status.md
  docs/references/official-claude-code-specs.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

feat: complete testing fixture infrastructure (Milestone 4a)
  docs/projects/archive/testing-fixture-infrastructure/README.md
  docs/projects/archive/testing-fixture-infrastructure/fixture-gap-analysis.md
  docs/projects/archive/testing-fixture-infrastructure/industry-audit.md
  docs/projects/archive/testing-fixture-infrastructure/tracker.md
  docs/projects/roadmap.md
  docs/projects/status.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/fixtures/projects/README.md
  tests/fixtures/projects/invalid-all-categories/.claude/skills/args-skill/SKILL.md
  tests/fixtures/projects/invalid-all-categories/.claude/skills/args-skill/args-skill.sh
  tests/fixtures/projects/invalid-all-categories/.claude/skills/bad-skill/bad-skill.sh
  tests/fixtures/projects/invalid-all-categories/plugin.json
  tests/fixtures/projects/valid-complete/.claude/skills/advanced-skill/CHANGELOG.md
  tests/fixtures/projects/valid-complete/.claude/skills/advanced-skill/SKILL.md
  tests/fixtures/projects/valid-complete/.claude/skills/advanced-skill/advanced-skill.sh
  tests/fixtures/projects/valid-complete/.claude/skills/example-skill/references/common-issues.md
  tests/fixtures/projects/valid-complete/.claude/skills/example-skill/run.sh
  tests/helpers/README.md
  tests/helpers/fixtures.test.ts
  tests/helpers/fixtures.ts
  tests/integration/fixture-projects.test.ts
Due: none

fix: align skill schema with official Anthropic spec (Milestone 5a)
  docs/projects/official-spec-alignment/tracker.md
  docs/rules/skills/skill-description-max-length.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-description-max-length.ts
  src/rules/skills/skill-frontmatter-unknown-keys.ts
  src/schemas/skill-frontmatter.schema.ts
  tests/fixtures/projects/invalid-all-categories/.claude/skills/bad-skill/SKILL.md
  tests/fixtures/projects/valid-complete/.claude/skills/example-skill/SKILL.md
  tests/rules/skills/skill-description-max-length.test.ts
  tests/rules/skills/skill-frontmatter-unknown-keys.test.ts
  tests/schemas/skill-frontmatter.schema.test.ts
Due: unittests, Rules, Schemas

style: fix prettier formatting and remove unused eslint-disable
  src/api/claudelint.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/fixtures/projects/invalid-all-categories/plugin.json
Due: unittests

fix: update manual testing runbook for current project layout
  docs/testing/manual-test-results-template.md
  docs/testing/manual-testing-runbook.md
  scripts/test/manual/task-6-install/verify.sh
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/fixtures/manual/README.md
Due: none

docs: update M4 roadmap with smoke test strategy and deferred full testing
  docs/projects/roadmap.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: output styles validator scanning all markdown files as output styles
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/filesystem/files.ts
Due: unittests

fix: cache not invalidating after code changes (stale results)
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/cache.ts
Due: unittests

feat: add 5 new lint rules and self-fix all 9 skills (M5b)
  docs/projects/roadmap.md
  docs/rules/plugin/plugin-hook-missing-plugin-root.md
  docs/rules/plugin/plugin-missing-component-paths.md
  docs/rules/skills/skill-arguments-without-hint.md
  docs/rules/skills/skill-description-missing-trigger.md
  docs/rules/skills/skill-side-effects-without-disable-model.md
  skills/format-cc/SKILL.md
  skills/optimize-cc-md/SKILL.md
  skills/validate-all/SKILL.md
  skills/validate-all/references/common-issues.md
  skills/validate-all/references/configuration.md
  skills/validate-cc-md/SKILL.md
  skills/validate-hooks/SKILL.md
  skills/validate-mcp/SKILL.md
  skills/validate-plugin/SKILL.md
  skills/validate-settings/SKILL.md
  skills/validate-skills/SKILL.md
  skills/validate-skills/references/common-issues.md
  skills/validate-skills/references/configuration.md
  src/rules/index.ts
  src/rules/plugin/plugin-hook-missing-plugin-root.ts
  src/rules/plugin/plugin-missing-component-paths.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-arguments-without-hint.ts
  src/rules/skills/skill-description-missing-trigger.ts
  src/rules/skills/skill-side-effects-without-disable-model.ts
  tests/fixtures/projects/valid-complete/.claude/skills/advanced-skill/SKILL.md
  tests/fixtures/projects/valid-complete/.claude/skills/example-skill/SKILL.md
  tests/helpers/fixtures.test.ts
  tests/helpers/fixtures.ts
  tests/integration/fixture-projects.test.ts
  tests/rules/plugin/plugin-hook-missing-plugin-root.test.ts
  tests/rules/plugin/plugin-missing-component-paths.test.ts
  tests/rules/skills/skill-arguments-without-hint.test.ts
  tests/rules/skills/skill-description-missing-trigger.test.ts
  tests/rules/skills/skill-side-effects-without-disable-model.test.ts
  tests/skills/metadata.test.ts
Due: unittests, Rules

chore: complete M5b fixture updates and archive official-spec-alignment
  docs/projects/archive/official-spec-alignment/README.md
  docs/projects/archive/official-spec-alignment/milestone-6-overlap.md
  docs/projects/archive/official-spec-alignment/spec-comparison.md
  docs/projects/archive/official-spec-alignment/tracker.md
  docs/projects/roadmap.md
  docs/projects/status.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/fixtures/projects/valid-complete/.claude-plugin/plugin.json
  tests/fixtures/projects/valid-complete/.claude-plugin/scripts/init.sh
Due: none

docs: reconcile M6 rules from 17 to 9
  docs/projects/roadmap.md
  docs/projects/status.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

feat: add M6 Batch 1 rules and fix flaky integration test
  docs/projects/roadmap.md
  docs/rules/skills/skill-body-missing-usage-section.md
  docs/rules/skills/skill-hardcoded-secrets.md
  docs/rules/skills/skill-shell-script-hardcoded-paths.md
  docs/rules/skills/skill-shell-script-no-error-handling.md
  skills/optimize-cc-md/SKILL.md
  src/cli/commands/check-all.ts
  src/cli/commands/validator-commands.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-body-missing-usage-section.ts
  src/rules/skills/skill-hardcoded-secrets.ts
  src/rules/skills/skill-shell-script-hardcoded-paths.ts
  src/rules/skills/skill-shell-script-no-error-handling.ts
  tests/helpers/fixtures.ts
  tests/integration/fixture-projects.test.ts
  tests/rules/skills/skill-body-missing-usage-section.test.ts
  tests/rules/skills/skill-hardcoded-secrets.test.ts
  tests/rules/skills/skill-shell-script-hardcoded-paths.test.ts
  tests/rules/skills/skill-shell-script-no-error-handling.test.ts
Due: unittests, Rules, CLI

feat: add M6 Batch 2 rules completing milestone 6
  docs/projects/roadmap.md
  docs/rules/skills/skill-allowed-tools-not-used.md
  docs/rules/skills/skill-description-quality.md
  docs/rules/skills/skill-mcp-tool-qualified-name.md
  skills/format-cc/SKILL.md
  skills/validate-all/SKILL.md
  skills/validate-cc-md/SKILL.md
  skills/validate-hooks/SKILL.md
  skills/validate-mcp/SKILL.md
  skills/validate-plugin/SKILL.md
  skills/validate-settings/SKILL.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-allowed-tools-not-used.ts
  src/rules/skills/skill-description-quality.ts
  src/rules/skills/skill-mcp-tool-qualified-name.ts
  tests/fixtures/projects/invalid-all-categories/.claude/skills/args-skill/SKILL.md
  tests/fixtures/projects/valid-complete/.claude/skills/advanced-skill/SKILL.md
  tests/fixtures/projects/valid-complete/.claude/skills/example-skill/SKILL.md
  tests/integration/fixture-projects.test.ts
  tests/rules/skills/skill-allowed-tools-not-used.test.ts
  tests/rules/skills/skill-description-quality.test.ts
  tests/rules/skills/skill-mcp-tool-qualified-name.test.ts
Due: unittests, Rules

docs: update vitepress-docs plan with current stats, domain strategy, and migration inventory
  docs/projects/vitepress-docs/README.md
  docs/projects/vitepress-docs/auto-generation-guide.md
  docs/projects/vitepress-docs/deployment.md
  docs/projects/vitepress-docs/docs-migration-inventory.md
  docs/projects/vitepress-docs/implementation-tracker.md
  docs/projects/vitepress-docs/information-architecture.md
  docs/projects/vitepress-docs/landing-page-spec.md
  docs/projects/vitepress-docs/plan.md
  docs/projects/vitepress-docs/quickstart.md
  docs/projects/vitepress-docs/updates.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: add missing M6 rule source files to resolve CI failure
  src/rules/claude-md/claude-md-file-reference-invalid.ts
  src/rules/claude-md/claude-md-npm-script-not-found.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-body-long-code-block.ts
  tests/rules/claude-md/claude-md-file-reference-invalid.test.ts
  tests/rules/claude-md/claude-md-npm-script-not-found.test.ts
  tests/rules/skills/skill-body-long-code-block.test.ts
Due: unittests, Rules

fix: add scripts to valid-complete fixture for npm-script-not-found rule
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/fixtures/projects/valid-complete/package.json
Due: none

refactor: update rule IDs to use full prefixed names across configs and docs
  .claudelintrc.example.json
  docs/architecture.md
  docs/configuration.md
  docs/debugging.md
  docs/getting-started.md
  docs/projects/archive/monorepo-support/README.md
  docs/projects/archive/monorepo-support/config-inheritance.md
  docs/projects/archive/monorepo-support/user-guide.md
  docs/rule-options-guide.md
  examples/README.md
  examples/basic/.claudelintrc.json
  examples/basic/README.md
  examples/monorepo/base-config.json
  examples/monorepo/multi-extend-config.json
  examples/monorepo/package-config.json
  examples/strict/.claudelintrc.json
  examples/strict/README.md
  examples/valid/.claudelintrc.json
  skills/validate-all/references/configuration.md
  skills/validate-cc-md/SKILL.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/rules/context.ts
Due: unittests

refactor: simplify config loader and add edge case tests
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/config/types.ts
  tests/config/config-edge-cases.test.ts
Due: unittests

fix: move test temp directories outside project tree
  src/rules/index.ts
  src/rules/rule-ids.ts
  tests/api/claudelint.test.ts
  tests/helpers/fixtures.test.ts
  tests/integration/cli.test.ts
  tests/integration/custom-rules.integration.test.ts
  tests/utils/custom-rule-loader.test.ts
Due: none

feat: add SessionStart hook to check for claudelint dependency
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.sh
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

docs: update project roadmap, status, and progress tracker
  docs/projects/dogfood-and-improvements/progress-tracker.md
  docs/projects/roadmap.md
  docs/projects/status.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

chore: add root .claudelintrc.json for self-linting
  .claudelintrc.json
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: add missing rule docs and enforce 1:1:1 structure check in CI
  .github/workflows/ci.yml
  docs/rules/claude-md/claude-md-file-reference-invalid.md
  docs/rules/claude-md/claude-md-npm-script-not-found.md
  docs/rules/skills/skill-body-long-code-block.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: add required Options section to new rule docs
  docs/rules/claude-md/claude-md-file-reference-invalid.md
  docs/rules/claude-md/claude-md-npm-script-not-found.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: convert link checker to CommonJS and remove continue-on-error
  .github/workflows/ci.yml
  scripts/check/links.js
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: repair broken CI checks and eliminate false warnings
  .remarkrc.mjs
  jest.config.js
  scripts/check/links.js
  scripts/check/rule-ids.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

chore: clean up CI job names and add milestone reference check
  .github/workflows/ci.yml
  .husky/pre-commit
  docs/architecture.md
  docs/rule-development-enforcement.md
  docs/testing/manual-testing-runbook.md
  package.json
  scripts/check/milestone-refs.sh
  scripts/test/manual/run-all.sh
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-description-quality.ts
  tests/api/claudelint.test.ts
  tests/helpers/fixtures.ts
Due: unittests, Rules

chore: remove cached files from git and delete unused pre-commit config
  .claudelint-cache/files/030c2c260e2dd558789dcea0764600305a6a64ad0f0ac6c2cdbc0d1208548796.json
  .claudelint-cache/files/0b20e372a1abeb30839dc4ca0a90603ab448198ae28d7b8592478cf8db9d82f8.json
  .claudelint-cache/files/0e1b687dc960b93c324451283c54a944bfaa4ae2810cede1fb4d2ed1927e57be.json
  .claudelint-cache/files/102ab753b4b44be509e58723c6f7edf034fefb7a388a6dbaefbec7146336638e.json
  .claudelint-cache/files/1cc8de4b4415013a61c2432b70c17f3325032f9b4831fedb7777113a10be6c40.json
  .claudelint-cache/files/2389074f5b1ad3a5bf4b6656deea34373c66df672ba4315718e228ff3f41d875.json
  .claudelint-cache/files/23c71e598175497a02ff8e7b6968daa5c4d6dc54cc527a94b792f06a6cc0091f.json
  .claudelint-cache/files/308053aa28ca1aeb7ab9eca784994d4365dc8e8b7dc0bfa99ca9a21abfe50361.json
  .claudelint-cache/files/3daa26d92473a410b1abd813f2ed85cb817ccc6a3fe551addd74fbc730952f31.json
  .claudelint-cache/files/475c98a3eda0c71f3410653f19f282a759768b84d3596bb119eff4d2d6d213b0.json
  .claudelint-cache/files/48ba98e5f8fec310d3af898b309a380c13397d6f5064ab0698016f1db5029939.json
  .claudelint-cache/files/48fcf56e4e48c9a8fa16cdcac2c8df13da72ce8396e649f7071e78223dc99a1d.json
  .claudelint-cache/files/5f2f1bf86b3bd57812f2ae387171c90fe8a1f80cf72e422fc4470d5faae175f3.json
  .claudelint-cache/files/60456c5e806729f1e41eceaf49849a62648ccc4a0cbbf49cdb2545c64119a9c5.json
  .claudelint-cache/files/6381ff6b6ce0bb72983a3bc8b31f77f60a5d0e78cf06fec81f479d140859fff7.json
  .claudelint-cache/files/75bd0f2eb0dc77911390c75f58db33347277a895e49f76ccb863f7a69bbaeaa0.json
  .claudelint-cache/files/76f934c8ae7afb84e6f801e459243238477661e57b9aeed0e3d8651527a61ad5.json
  .claudelint-cache/files/7d6412238274d63602e55ca867bc9dcf22b46e3d0525e7af4081bb3f06a17e73.json
  .claudelint-cache/files/7e00d3e8a34829453845bd494d1f50fe58ae715ad731b691490a52c315a58bb0.json
  .claudelint-cache/files/8626567ea9f9b51222e3ffd05f03dc9732a74703d62cd4d73cd9f715c6d5fd81.json
  .claudelint-cache/files/87375ee1e2c216228872dbf303071afdacbd080e3da0846c5bbe99899ea66adb.json
  .claudelint-cache/files/8f8bf6918800c214a6ab274f118c2efcb5770a6899b2e853a62c0adeafe09d34.json
  .claudelint-cache/files/9679104120bea618fa44f7641f8ba05cf16b96286cf47ffcabe25481813fed2a.json
  .claudelint-cache/files/9d7fb5a7df45f64ab203bdc9b7f882c848fdd6ffe326c381f3014a95a896f010.json
  .claudelint-cache/files/a295c6f9d1b8fd4d1e3da4fd288d17ddadbd546cbe07df47de5c63fa77e099bc.json
  .claudelint-cache/files/bf6bdebc45d1084dbaeff9513a1d436385f41c43f57597c306c13d7bc85620ca.json
  .claudelint-cache/files/c5cec4795f555fcabc8064bd13d48ca5127b377e0489698b2f2bef89ee1d8273.json
  .claudelint-cache/files/c6ecf50e94403c70bede0599d6bdd59a473b4c53028b8f4ce97e5aa8d2731ae1.json
  .claudelint-cache/files/c6fe6c4528f4a13055743543e1fa317b5bcc930b8a16581114dafb68e37a0d5f.json
  .claudelint-cache/files/cbe79375ac604f96ef83184cdc104f2a6064a5a5fccd50f98b256bbb2c3808a4.json
  .claudelint-cache/files/d0c67c280b2043ed3306a399ba626f5a7e885bf827860e09cce9979a114f939e.json
  .claudelint-cache/files/d7a1e47084ce998881e11d35a4e37750598364ed3f81bf11bff5f6bf8f275439.json
  .claudelint-cache/files/daa930775ceae9fdb5226bff604e9902666b1f1c4b4ea8fc6c6a115f6dc05112.json
  .claudelint-cache/files/e148bc0bc10def39711b41daa6499d150aa3b1751d2499387da2bee6c2eb84df.json
  .claudelint-cache/files/e1bf5694369348b66c6c144bbe0cfe8ad467461acb3ccc9c6a11cb8cc65fe27e.json
  .claudelint-cache/files/e672ec1f6bd54fb1bb269dbb0c989e75c9e91f82c7428a4080e051ebbe0974dc.json
  .claudelint-cache/files/fb3d11833fed9313454ee09e2701c70f0e0b68c971f1ca36aba203eb471ae461.json
  .pre-commit-config.yaml
Due: none
