Repository pdugan20/claudelint: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Rules, Validators, CLI, Configuration, Schemas

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "80...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

# Files and directories to ignore in coverage reports
ignore:
  # Test fixtures and test data
  - "tests/fixtures/**"
  - "tests/__temp__/**"
  - "tests/**/*.fixture.ts"

  # Entry points and barrel re-exports
  - "src/index.ts"
  - "src/api/index.ts"
  - "src/schemas/index.ts"
  - "src/utils/index.ts"
  - "src/utils/validators/index.ts"
  - "src/validators/index.ts"

  # Generated code
  - "src/rules/rule-ids.ts"
  - "src/rules/index.ts"

  # CLI (tested via integration tests, not unit coverage)
  - "src/cli.ts"
  - "src/cli/commands/**"
  - "src/cli/init-wizard.ts"
  - "src/cli/config-debug.ts"
  - "src/cli/utils/logger.ts"
  - "src/cli/utils/config-loader.ts"
  - "src/cli/utils/system-tools.ts"
  - "src/cli/utils/formatters/**"

  # Scripts and tooling
  - "scripts/**"
  - "bin/**"

  # Examples and documentation
  - "docs/**"

  # Type definitions
  - "**/*.d.ts"

  # Build output
  - "dist/**"
  - "coverage/**"
  - "node_modules/**"

  # Configuration files
  - "*.config.js"
  - "*.config.ts"
  - ".eslintrc.js"
  - "jest.config.js"

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# GitHub Checks
github_checks:
  annotations: true

# Flag management for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: rules
      name: Rules
      paths:
        - src/rules/**

    - component_id: validators
      name: Validators
      paths:
        - src/validators/**

    - component_id: cli
      name: CLI
      paths:
        - src/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/config/**

    - component_id: schemas
      name: Schemas
      paths:
        - src/schemas/**

fix(upstream): re-derive facts in check:upstream instead of trusting facts.json
  scripts/check/upstream.ts
  tests/upstream/conform.test.ts
Due: none

fix(rules): catch bare-string @ dependencies in marketplace.json entries
  src/rules/plugin/plugin-dependency-string-with-marketplace.ts
  tests/integration/marketplace-discovery.test.ts
  tests/rules/plugin/plugin-dependency-string-with-marketplace.test.ts
  website/data/rule-stats.json
  website/rules/plugin/plugin-dependency-string-with-marketplace.md
  website/rules/plugin/plugin-marketplace-files-not-found.md
Due: unittests, Rules

docs(skills): stop overclaiming what check-upstream mechanically detects
  .claude/skills/check-upstream/SKILL.md
Due: none

docs(upstream): correct ignore-file keys, drop internal task refs and stale .gitkeep
  docs-baseline/.gitkeep
  docs/projects/upstream-watch.md
  scripts/upstream/refresh.ts
Due: none

docs: add first full upstream drift audit
  docs/projects/upstream-drift-audit.md
Due: none

fix(schemas): allow marketplace field on marketplace entry dependencies
  schemas/marketplace.schema.json
Due: none

fix(rules): avoid angle-bracket placeholders in rule doc text
  src/rules/plugin/plugin-dependency-string-with-marketplace.ts
  website/data/rule-stats.json
  website/rules/plugin/plugin-dependency-string-with-marketplace.md
Due: unittests, Rules

fix(ci): stop upstream-watch from overwriting human-authored issues
  .github/workflows/ci.yml
  .github/workflows/upstream-watch.yml
  package.json
  scripts/check/upstream-workflow.sh
Due: none

fix: stop rejecting valid Claude Code config (6 false positives)
  docs-baseline/examples-ignore.json
  scripts/upstream/examples.ts
  src/rules/mcp/mcp-invalid-env-var.ts
  src/rules/mcp/mcp-sse-transport-deprecated.ts
  src/rules/mcp/mcp-websocket-empty-url.ts
  src/rules/mcp/mcp-websocket-invalid-protocol.ts
  src/rules/mcp/mcp-websocket-invalid-url.ts
  src/schemas/agent-frontmatter.schema.ts
  src/schemas/constants.ts
  src/schemas/skill-frontmatter.schema.ts
  src/utils/patterns.ts
  src/utils/validators/helpers.ts
  src/validators/schemas.ts
  tests/fixtures/projects/invalid-all-categories/.claude/agents/wrong-dir.md
  tests/fixtures/projects/invalid-all-categories/.claude/skills/bad-skill/SKILL.md
  tests/rules/agents/agent-disallowed-tools.test.ts
  tests/rules/agents/agent-tools.test.ts
  tests/rules/mcp/mcp-invalid-transport.test.ts
  tests/rules/mcp/mcp-websocket-empty-url.test.ts
  tests/rules/mcp/mcp-websocket-invalid-protocol.test.ts
  tests/rules/mcp/mcp-websocket-invalid-url.test.ts
  tests/rules/skills/skill-agent.test.ts
  tests/schemas/agent-frontmatter.schema.test.ts
  tests/schemas/constants.test.ts
  tests/schemas/mcp-config.schema.test.ts
  tests/schemas/skill-frontmatter.schema.test.ts
  tests/upstream/docs-examples.test.ts
  tests/utils/validation-helpers.test.ts
  website/rules/mcp/mcp-sse-transport-deprecated.md
  website/rules/mcp/mcp-websocket-empty-url.md
  website/rules/mcp/mcp-websocket-invalid-protocol.md
  website/rules/mcp/mcp-websocket-invalid-url.md
Due: unittests, Rules, Validators, Schemas

fix(api): make lintText and lintFiles actually validate
  src/api/claudelint.ts
  src/cli/commands/check-all.ts
  src/validators/agents.ts
  src/validators/claude-md.ts
  src/validators/file-validator.ts
  src/validators/hooks.ts
  src/validators/mcp.ts
  src/validators/output-styles.ts
  src/validators/plugin.ts
  src/validators/settings.ts
  src/validators/skills.ts
  tests/api/lint-text-reports.test.ts
  tests/cli/stdin.test.ts
Due: unittests, Validators

fix(ci): stop upstream-watch from overwriting human-authored issues (#133)
  .github/workflows/ci.yml
  .github/workflows/upstream-watch.yml
  package.json
  scripts/check/upstream-workflow.sh
Due: none

fix: stop rejecting valid Claude Code config (6 false positives) (#136)
  docs-baseline/examples-ignore.json
  scripts/upstream/examples.ts
  src/rules/mcp/mcp-invalid-env-var.ts
  src/rules/mcp/mcp-sse-transport-deprecated.ts
  src/rules/mcp/mcp-websocket-empty-url.ts
  src/rules/mcp/mcp-websocket-invalid-protocol.ts
  src/rules/mcp/mcp-websocket-invalid-url.ts
  src/schemas/agent-frontmatter.schema.ts
  src/schemas/constants.ts
  src/schemas/skill-frontmatter.schema.ts
  src/utils/patterns.ts
  src/utils/validators/helpers.ts
  src/validators/schemas.ts
  tests/fixtures/projects/invalid-all-categories/.claude/agents/wrong-dir.md
  tests/fixtures/projects/invalid-all-categories/.claude/skills/bad-skill/SKILL.md
  tests/rules/agents/agent-disallowed-tools.test.ts
  tests/rules/agents/agent-tools.test.ts
  tests/rules/mcp/mcp-invalid-transport.test.ts
  tests/rules/mcp/mcp-websocket-empty-url.test.ts
  tests/rules/mcp/mcp-websocket-invalid-protocol.test.ts
  tests/rules/mcp/mcp-websocket-invalid-url.test.ts
  tests/rules/skills/skill-agent.test.ts
  tests/schemas/agent-frontmatter.schema.test.ts
  tests/schemas/constants.test.ts
  tests/schemas/mcp-config.schema.test.ts
  tests/schemas/skill-frontmatter.schema.test.ts
  tests/upstream/docs-examples.test.ts
  tests/utils/validation-helpers.test.ts
  website/rules/mcp/mcp-sse-transport-deprecated.md
  website/rules/mcp/mcp-websocket-empty-url.md
  website/rules/mcp/mcp-websocket-invalid-protocol.md
  website/rules/mcp/mcp-websocket-invalid-url.md
Due: unittests, Rules, Validators, Schemas

fix(api): make lintText and lintFiles actually validate (#139)
  src/api/claudelint.ts
  src/cli/commands/check-all.ts
  src/validators/agents.ts
  src/validators/claude-md.ts
  src/validators/file-validator.ts
  src/validators/hooks.ts
  src/validators/mcp.ts
  src/validators/output-styles.ts
  src/validators/plugin.ts
  src/validators/settings.ts
  src/validators/skills.ts
  tests/api/lint-text-reports.test.ts
  tests/cli/stdin.test.ts
Due: unittests, Validators

fix: replace invented sandbox/marketplace fields with the documented ones
  src/validators/schemas.ts
  tests/schemas/settings.schema.test.ts
Due: unittests, Validators

fix: replace invented sandbox/marketplace fields with the documented ones (#140)
  src/validators/schemas.ts
  tests/schemas/settings.schema.test.ts
Due: unittests, Validators

test(upstream): gate schema field TYPES against the documented examples
  scripts/upstream/field-types.ts
  tests/upstream/field-types.test.ts
Due: none

test(upstream): gate schema field types against the documented examples (#141)
  scripts/upstream/field-types.ts
  tests/upstream/field-types.test.ts
Due: none

fix: model the documented settings.json surface (and 2 more false positives)
  scripts/upstream/field-types.ts
  src/validators/schemas.ts
  tests/schemas/settings.schema.test.ts
Due: unittests, Validators

fix: model the documented settings.json surface (and 2 more false positives) (#142)
  scripts/upstream/field-types.ts
  src/validators/schemas.ts
  tests/schemas/settings.schema.test.ts
Due: unittests, Validators

feat(upstream): register SettingsSchema and enforce key conformance
  .github/workflows/ci.yml
  schemas/settings.schema.json
  scripts/check/schema-docs-coverage.ts
  scripts/upstream/settings-keys.ts
  src/schemas/registry.ts
  src/upstream/watchlist.ts
  tests/upstream/settings-keys.test.ts
  website/api/schemas.md
  website/api/schemas/settings.md
Due: unittests, Schemas

ci: run check:schema-docs-coverage explicitly, not the whole aggregate
  .github/workflows/ci.yml
Due: none

feat(upstream): register SettingsSchema and enforce key conformance (#143)
  .github/workflows/ci.yml
  schemas/settings.schema.json
  scripts/check/schema-docs-coverage.ts
  scripts/upstream/settings-keys.ts
  src/schemas/registry.ts
  src/upstream/watchlist.ts
  tests/upstream/settings-keys.test.ts
  website/api/schemas.md
  website/api/schemas/settings.md
Due: unittests, Schemas

docs: correct the public docs the schema fixes left stale
  docs/projects/upstream-drift-audit.md
  src/rules/mcp/mcp-invalid-transport.ts
  src/rules/mcp/mcp-sse-transport-deprecated.ts
  src/rules/mcp/mcp-websocket-empty-url.ts
  src/rules/mcp/mcp-websocket-invalid-protocol.ts
  src/rules/mcp/mcp-websocket-invalid-url.ts
  website/api/schemas/agents.md
  website/api/schemas/hooks.md
  website/api/schemas/mcp.md
  website/api/schemas/skills.md
  website/rules/mcp/mcp-invalid-transport.md
  website/rules/mcp/mcp-sse-transport-deprecated.md
  website/rules/mcp/mcp-websocket-empty-url.md
  website/rules/mcp/mcp-websocket-invalid-protocol.md
  website/rules/mcp/mcp-websocket-invalid-url.md
Due: unittests, Rules

docs: correct the public docs the schema fixes left stale (#144)
  docs/projects/upstream-drift-audit.md
  src/rules/mcp/mcp-invalid-transport.ts
  src/rules/mcp/mcp-sse-transport-deprecated.ts
  src/rules/mcp/mcp-websocket-empty-url.ts
  src/rules/mcp/mcp-websocket-invalid-protocol.ts
  src/rules/mcp/mcp-websocket-invalid-url.ts
  website/api/schemas/agents.md
  website/api/schemas/hooks.md
  website/api/schemas/mcp.md
  website/api/schemas/skills.md
  website/rules/mcp/mcp-invalid-transport.md
  website/rules/mcp/mcp-sse-transport-deprecated.md
  website/rules/mcp/mcp-websocket-empty-url.md
  website/rules/mcp/mcp-websocket-invalid-protocol.md
  website/rules/mcp/mcp-websocket-invalid-url.md
Due: unittests, Rules

chore: release v0.6.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: accept documented model alias `fable` and marketplace source `pathPattern`
  src/rules/agents/agent-model.ts
  src/schemas/constants.ts
  src/validators/schemas.ts
  tests/rules/agents/agent-model.test.ts
  tests/rules/skills/skill-model.test.ts
  tests/schemas/constants.test.ts
  tests/schemas/settings.schema.test.ts
  website/api/schemas/settings.md
Due: unittests, Rules, Validators, Schemas

fix: model every documented tool and put the tool list under doc authority
  docs-baseline/_index.json
  docs-baseline/examples-ignore.json
  docs-baseline/facts.json
  docs-baseline/hooks.md
  docs-baseline/mcp.md
  docs-baseline/memory.md
  docs-baseline/plugin-marketplaces.md
  docs-baseline/plugins-reference.md
  docs-baseline/settings.md
  docs-baseline/sub-agents.md
  docs-baseline/tools-reference.md
  schemas/skill-frontmatter.schema.json
  scripts/upstream/tool-names.ts
  src/rules/settings/settings-invalid-permission.ts
  src/schemas/constants.ts
  src/upstream/watchlist.ts
  tests/upstream/tool-names.test.ts
Due: unittests, Rules, Schemas

fix: add `fable` to the skill frontmatter reference schema
  schemas/skill-frontmatter.schema.json
Due: none

fix: make --changed and --since actually scope validation
  src/cli/commands/check-all.ts
  src/cli/utils/git-diff.ts
  src/utils/cache.ts
  src/validators/agents.ts
  src/validators/claude-md.ts
  src/validators/file-validator.ts
  src/validators/output-styles.ts
  src/validators/schema-validator.ts
  src/validators/skills.ts
  tests/integration/changed-file-scoping.test.ts
  website/guide/cli-reference.md
Due: unittests, Validators, CLI

fix: accept inline plugin hooks and re-enable plugin-hook-missing-plugin-root
  presets/recommended.json
  presets/strict.json
  schemas/plugin-manifest.schema.json
  src/rules/plugin/plugin-hook-missing-plugin-root.ts
  src/validators/schemas.ts
  website/data/rule-stats.json
  website/integrations/hooks.md
  website/rules/plugin/plugin-hook-missing-plugin-root.md
Due: unittests, Rules, Validators

fix: accept documented `fable` model and `pathPattern` marketplace source (#145)
  schemas/skill-frontmatter.schema.json
  src/rules/agents/agent-model.ts
  src/schemas/constants.ts
  src/validators/schemas.ts
  tests/rules/agents/agent-model.test.ts
  tests/rules/skills/skill-model.test.ts
  tests/schemas/constants.test.ts
  tests/schemas/settings.schema.test.ts
  website/api/schemas/settings.md
Due: unittests, Rules, Validators, Schemas

fix: model every documented tool, and put the tool list under doc authority (#147)
  docs-baseline/_index.json
  docs-baseline/examples-ignore.json
  docs-baseline/facts.json
  docs-baseline/hooks.md
  docs-baseline/mcp.md
  docs-baseline/memory.md
  docs-baseline/plugin-marketplaces.md
  docs-baseline/plugins-reference.md
  docs-baseline/settings.md
  docs-baseline/sub-agents.md
  docs-baseline/tools-reference.md
  schemas/skill-frontmatter.schema.json
  scripts/upstream/tool-names.ts
  src/rules/settings/settings-invalid-permission.ts
  src/schemas/constants.ts
  src/upstream/watchlist.ts
  tests/upstream/tool-names.test.ts
Due: unittests, Rules, Schemas

fix: make --changed and --since actually scope validation (#148)
  src/cli/commands/check-all.ts
  src/cli/utils/git-diff.ts
  src/utils/cache.ts
  src/validators/agents.ts
  src/validators/claude-md.ts
  src/validators/file-validator.ts
  src/validators/output-styles.ts
  src/validators/schema-validator.ts
  src/validators/skills.ts
  tests/integration/changed-file-scoping.test.ts
  website/guide/cli-reference.md
Due: unittests, Validators, CLI

fix: accept inline plugin hooks, re-enable plugin-hook-missing-plugin-root, document hook output (#149)
  presets/recommended.json
  presets/strict.json
  schemas/plugin-manifest.schema.json
  src/rules/plugin/plugin-hook-missing-plugin-root.ts
  src/validators/schemas.ts
  website/data/rule-stats.json
  website/integrations/hooks.md
  website/rules/plugin/plugin-hook-missing-plugin-root.md
Due: unittests, Rules, Validators

docs: regenerate the settings-invalid-permission page after the tool-list fix
  website/data/rule-stats.json
  website/rules/settings/settings-invalid-permission.md
Due: none

docs: regenerate the settings-invalid-permission page after the tool-list fix (#150)
  website/data/rule-stats.json
  website/rules/settings/settings-invalid-permission.md
Due: none

chore: release v0.7.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: drop the needless self-approve step from dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
Due: none

ci: drop the needless self-approve step from dependabot auto-merge (#154)
  .github/workflows/dependabot-auto-merge.yml
Due: none
