Repository pdugan20/claudelint: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Rules, Validators, CLI, Configuration, Schemas

feat: harden custom rules system with validation, dogfooding, and docs overhaul
  .claudelint/rules/max-section-depth.ts
  .claudelint/rules/no-user-paths.ts
  .claudelint/rules/normalize-code-fences.ts
  .claudelint/rules/require-skill-see-also.ts
  .claudelintrc.json
  docs/examples/custom-rules/README.md
  docs/examples/custom-rules/check-links.js
  docs/examples/custom-rules/enforce-frontmatter.js
  docs/examples/custom-rules/max-file-size.js
  docs/examples/custom-rules/no-absolute-paths.js
  docs/examples/custom-rules/no-hardcoded-tokens.js
  docs/examples/custom-rules/no-trailing-whitespace.js
  docs/examples/custom-rules/require-version.js
  docs/projects/custom-rules-hardening/README.md
  docs/projects/custom-rules-hardening/tracker.md
  skills/optimize-cc-md/SKILL.md
  src/cli/commands/check-all.ts
  src/cli/utils/config-loader.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/rules/loader.ts
  tests/fixtures/custom-rules/invalid-no-validate.ts
  tests/fixtures/custom-rules/team-conventions.ts
  tests/fixtures/custom-rules/valid-custom-rule.ts
  tests/fixtures/projects/custom-rules-violation/.claudelint/rules/test-rule.js
  tests/fixtures/projects/custom-rules-violation/.claudelintrc.json
  tests/fixtures/projects/custom-rules-violation/CLAUDE.md
  tests/fixtures/projects/invalid-all-categories/.claudelintrc.json
  tests/fixtures/projects/valid-complete/.claudelintrc.json
  tests/integration/custom-rules.integration.test.ts
  tests/integration/dogfood-rules.test.ts
  tests/integration/fixture-projects.test.ts
  tests/utils/custom-rule-loader.test.ts
  website/.vitepress/config.mts
  website/data/rule-stats.json
  website/development/architecture.md
  website/development/custom-rules-troubleshooting.md
  website/development/custom-rules.md
  website/development/helper-library.md
  website/development/rule-system.md
Due: unittests, CLI

chore: archive custom-rules-hardening project folder
  docs/projects/archive/custom-rules-hardening/README.md
  docs/projects/archive/custom-rules-hardening/tracker.md
  docs/projects/custom-rules-hardening/README.md
  docs/projects/custom-rules-hardening/tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

feat: fix broken hooks, add dogfooding to CI pipeline, and update CI docs
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  scripts/util/setup-hooks.sh
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/integrations/ci.md
Due: none

refactor: consolidate CI from 18 jobs to 8 and fix Vue lint warnings
  .github/workflows/ci.yml
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: move publint to build job where dist/ is available
  .github/workflows/ci.yml
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

ci: switch to self-hosted runner while billing is resolved
  .github/workflows/billing-canary.yml
  .github/workflows/ci.yml
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

ci: revert to GitHub-hosted runners after adding Actions budget
  .github/workflows/billing-canary.yml
  .github/workflows/ci.yml
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

docs: update branch protection config to match consolidated CI
  docs/github-branch-protection.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

docs: update branch protection config to match consolidated CI (#35)
  docs/github-branch-protection.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

chore: remove unused devDependencies and clean up knip config
  knip.config.ts
  package-lock.json
  package.json
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

feat: harden since field with validation, optionality, and CI enforcement
  .claudelint/rules/max-section-depth.ts
  .claudelint/rules/no-user-paths.ts
  .claudelint/rules/normalize-code-fences.ts
  .claudelint/rules/require-skill-see-also.ts
  .github/workflows/ci.yml
  docs/projects/since-field-improvements/tracker.md
  package.json
  presets/all.json
  scripts/check/rule-since.ts
  scripts/generate/schema-rules.ts
  scripts/generators/rule-page.ts
  src/CLAUDE.md
  src/cli/commands/explain.ts
  src/rules/agents/agent-events.ts
  src/rules/index.ts
  src/rules/output-styles/output-style-description.ts
  src/rules/output-styles/output-style-examples.ts
  src/rules/output-styles/output-style-name.ts
  src/rules/rule-ids.ts
  src/types/rule.ts
  src/utils/rules/loader.ts
  tests/fixtures/custom-rules/invalid-no-validate.ts
  tests/fixtures/custom-rules/team-conventions.ts
  tests/fixtures/custom-rules/valid-custom-rule.ts
  tests/presets/__snapshots__/preset-generation.test.ts.snap
  tests/rules/agents/agent-events.test.ts
  tests/rules/output-styles/output-style-description.test.ts
  tests/rules/output-styles/output-style-examples.test.ts
  tests/rules/output-styles/output-style-name.test.ts
  tests/utils/custom-rule-loader.test.ts
  website/.vitepress/config.mts
  website/.vitepress/theme/components/FaqList.vue
  website/.vitepress/theme/index.ts
  website/data/rule-stats.json
  website/development/custom-rules.md
  website/development/helper-library.md
  website/integrations/faq-mockups.md
  website/integrations/monorepos.md
  website/rules/_sidebar.json
Due: unittests, Rules, CLI

chore: archive since-field-improvements project folder
  docs/projects/archive/since-field-improvements/README.md
  docs/projects/archive/since-field-improvements/audit.md
  docs/projects/archive/since-field-improvements/design.md
  docs/projects/archive/since-field-improvements/tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

feat: add logo, nav bar integration, and footer branding
  docs/projects/branding-and-assets/tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/config.mts
  website/.vitepress/theme/components/HomeFooter.vue
  website/.vitepress/theme/style.css
  website/public/logo-dark.svg
  website/public/logo-gray.svg
  website/public/logo.svg
Due: none

feat: add complete favicon set with dark-mode adaptive SVG
  package-lock.json
  package.json
  scripts/generate-favicons.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/config.mts
  website/public/android-chrome-192x192.png
  website/public/android-chrome-512x512.png
  website/public/apple-touch-icon.png
  website/public/favicon-16x16.png
  website/public/favicon-32x32.png
  website/public/favicon.ico
  website/public/favicon.svg
  website/public/site.webmanifest
Due: none

feat: add OG image template and fonts for build-time social cards
  docs/projects/branding-and-assets/tracker.md
  package-lock.json
  package.json
  scripts/assets/og-logo.svg
  scripts/fonts/Inter-Regular.ttf
  scripts/fonts/Inter-SemiBold.ttf
  scripts/fonts/SourceSerif4-Regular.ttf
  scripts/fonts/SourceSerif4-SemiBold.ttf
  scripts/test-og.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: add docs metadata for 4 new rules and fix logger spacing
  presets/recommended.json
  scripts/generate/favicons.ts
  src/rules/agents/agent-events.ts
  src/rules/index.ts
  src/rules/output-styles/output-style-description.ts
  src/rules/output-styles/output-style-examples.ts
  src/rules/output-styles/output-style-name.ts
  src/rules/rule-ids.ts
  tests/presets/__snapshots__/preset-generation.test.ts.snap
  website/data/rule-stats.json
  website/rules/agents/agent-events.md
  website/rules/output-styles/output-style-description.md
  website/rules/output-styles/output-style-examples.md
  website/rules/output-styles/output-style-name.md
Due: unittests, Rules

fix: align check scripts with auto-generated rule page format
  scripts/check/file-naming.ts
  scripts/check/rule-docs.ts
  src/rules/agents/agent-events.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/data/rule-stats.json
  website/rules/agents/agent-events.md
Due: unittests, Rules

feat: add llms.txt generation, harden Vercel deployment, add docs CI job
  .github/workflows/ci.yml
  .vercelignore
  docs/projects/archive/branding-and-assets/README.md
  docs/projects/archive/branding-and-assets/asset-spec.md
  docs/projects/archive/branding-and-assets/config-changes.md
  docs/projects/archive/branding-and-assets/og-image-generation.md
  docs/projects/archive/branding-and-assets/tracker.md
  docs/projects/vitepress-docs/implementation-tracker.md
  package-lock.json
  package.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  vercel.json
  website/.vitepress/config.mts
Due: none

feat: add Vercel Speed Insights and docs badge to README
  README.md
  docs/projects/vitepress-docs/implementation-tracker.md
  package-lock.json
  package.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/theme/index.ts
  website/data/rule-stats.json
Due: none

feat: add Vercel Analytics, update favicon and logo sizing
  package-lock.json
  package.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/theme/index.ts
  website/.vitepress/theme/style.css
  website/data/rule-stats.json
  website/public/android-chrome-192x192.png
  website/public/android-chrome-512x512.png
  website/public/apple-touch-icon.png
  website/public/favicon-16x16.png
  website/public/favicon-32x32.png
  website/public/favicon.ico
  website/public/favicon.svg
Due: none

test: verify Vercel PR preview deployments
  docs/projects/vitepress-docs/implementation-tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/config.mts
  website/.vitepress/theme/Layout.vue
  website/.vitepress/theme/components/HomeFooter.vue
  website/.vitepress/theme/style.css
  website/data/rule-stats.json
Due: none

feat: Lighthouse audit fixes, OG image redesign, dark mode button fix
  docs/projects/vitepress-docs/implementation-tracker.md
  scripts/generate/og-images.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/config.mts
  website/.vitepress/theme/Layout.vue
  website/.vitepress/theme/components/HomeFooter.vue
  website/.vitepress/theme/style.css
  website/data/rule-stats.json
Due: none

chore: archive completed projects and consolidate roadmap
  docs/projects/archive/npm-release-setup/README.md
  docs/projects/archive/npm-release-setup/package-name-migration.md
  docs/projects/archive/npm-release-setup/publishing-strategy.md
  docs/projects/archive/npm-release-setup/release-it-setup.md
  docs/projects/archive/npm-release-setup/tracker.md
  docs/projects/archive/npm-release-setup/version-sync.md
  docs/projects/archive/npm-release-setup/workflow.md
  docs/projects/archive/plugin-and-md-management/README.md
  docs/projects/archive/plugin-and-md-management/claude-md-best-practices.md
  docs/projects/archive/plugin-and-md-management/constants-audit.md
  docs/projects/archive/plugin-and-md-management/optimize-cc-md-structure-design.md
  docs/projects/archive/plugin-and-md-management/phase-2-3-verification.md
  docs/projects/archive/plugin-and-md-management/phase-2-7-summary.md
  docs/projects/archive/plugin-and-md-management/phase-2-progress.md
  docs/projects/archive/plugin-and-md-management/plugin-manifest-spec.md
  docs/projects/archive/plugin-and-md-management/schema-audit.md
  docs/projects/archive/plugin-and-md-management/schema-inventory.md
  docs/projects/archive/plugin-and-md-management/schema-verification-workflow.md
  docs/projects/archive/plugin-and-md-management/skill-improvement-guidelines.md
  docs/projects/archive/plugin-and-md-management/skill-specifications.md
  docs/projects/archive/plugin-and-md-management/testing-approach-summary.md
  docs/projects/archive/plugin-and-md-management/tracker.md
  docs/projects/archive/plugin-and-md-management/truth-registry-proposal.md
  docs/projects/archive/plugin-and-md-management/validation-rules.md
  docs/projects/roadmap.md
  docs/projects/status.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: correct plugin install syntax, add plugin-spec-alignment project
  .claude-plugin/README.md
  README.md
  docs/projects/plugin-spec-alignment/README.md
  docs/projects/plugin-spec-alignment/marketplace-spec-reference.md
  docs/projects/plugin-spec-alignment/tracker.md
  docs/projects/roadmap.md
  docs/projects/status.md
  scripts/test/manual/manual-testing-runbook.md
  scripts/test/manual/task-6-install/setup.sh
  scripts/util/postinstall.js
  src/cli/commands/install-plugin.ts
  src/cli/init-wizard.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/guide/cli-reference.md
  website/integrations/claude-code-plugin.md
Due: unittests, CLI

docs: flesh out test cases and website tasks in plugin-spec-alignment tracker
  docs/projects/plugin-spec-alignment/tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

docs: add CLI verification tasks, remove unnecessary marketplace repo task
  docs/projects/plugin-spec-alignment/tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: rewrite marketplace schemas and rules to match official spec
  docs/projects/plugin-spec-alignment/tracker.md
  schemas/marketplace.schema.json
  src/rules/index.ts
  src/rules/plugin/plugin-invalid-manifest.ts
  src/rules/plugin/plugin-marketplace-files-not-found.ts
  src/rules/rule-ids.ts
  src/schemas/registry.ts
  src/validators/schemas.ts
  tests/rules/plugin/plugin-invalid-manifest.test.ts
  tests/rules/plugin/plugin-marketplace-files-not-found.test.ts
  tests/schemas/marketplace.schema.test.ts
  website/api/schemas.md
  website/data/rule-stats.json
  website/rules/plugin/plugin-invalid-manifest.md
  website/rules/plugin/plugin-marketplace-files-not-found.md
Due: unittests, Rules, Validators, Schemas

refactor: split schemas API page into individual subpages
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/config.mts
  website/api/schemas.md
  website/api/schemas/agents.md
  website/api/schemas/hooks.md
  website/api/schemas/lsp.md
  website/api/schemas/marketplace.md
  website/api/schemas/mcp.md
  website/api/schemas/output-styles.md
  website/api/schemas/plugin.md
  website/api/schemas/rules.md
  website/api/schemas/settings.md
  website/api/schemas/skills.md
  website/data/rule-stats.json
Due: none

refactor: standardize schema docs, add enforcement, differentiate overview pages
  .husky/pre-commit
  package.json
  scripts/check/schema-docs.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/.vitepress/config.mts
  website/api/schemas/agents.md
  website/api/schemas/hooks.md
  website/api/schemas/lsp.md
  website/api/schemas/marketplace.md
  website/api/schemas/mcp.md
  website/api/schemas/output-styles.md
  website/api/schemas/plugin.md
  website/api/schemas/rules.md
  website/api/schemas/settings.md
  website/api/schemas/skills.md
  website/data/rule-stats.json
  website/rules/overview.md
  website/validators/overview.md
Due: none

fix: align plugin hooks schema with Claude Code's actual behavior
  .claude-plugin/plugin.json
  hooks/hooks.json
  schemas/plugin-manifest.schema.json
  scripts/check/check-dependency.sh
  src/rules/index.ts
  src/rules/plugin/plugin-hook-missing-plugin-root.ts
  src/rules/plugin/plugin-missing-file.ts
  src/rules/rule-ids.ts
  src/validators/schemas.ts
  tests/fixtures/projects/valid-complete/.claude-plugin/plugin.json
  tests/integration/fixture-projects.test.ts
  tests/rules/plugin/plugin-hook-missing-plugin-root.test.ts
  tests/schemas/marketplace.schema.test.ts
  tests/schemas/plugin-manifest.schema.test.ts
  website/api/schemas/plugin.md
  website/data/rule-stats.json
  website/guide/file-discovery.md
  website/rules/plugin/plugin-hook-missing-plugin-root.md
  website/rules/plugin/plugin-missing-file.md
  website/validators/hooks.md
Due: unittests, Rules, Validators

fix: resolve 99 Vue lint warnings and enforce --max-warnings 0
  package.json
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

chore: archive plugin-spec-alignment docs, update manual test scripts
  docs/projects/archive/plugin-spec-alignment/README.md
  docs/projects/archive/plugin-spec-alignment/marketplace-spec-reference.md
  docs/projects/archive/plugin-spec-alignment/tracker.md
  docs/projects/roadmap.md
  docs/projects/status.md
  scripts/test/manual/README.md
  scripts/test/manual/lib/build-package.sh
  scripts/test/manual/manual-testing-runbook.md
  scripts/test/manual/run-all.sh
  scripts/test/manual/task-6-install/verify.sh
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: exclude .expected/ test artifacts from fixture copies
  scripts/test/manual/task-2-optimize-with-skill/setup.sh
  scripts/test/manual/task-4-functional/setup.sh
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

docs: condense CLI reference page from 1156 to 742 lines
  src/rules/index.ts
  src/rules/rule-ids.ts
  website/data/rule-stats.json
  website/guide/cli-reference.md
Due: none

docs: add plugin marketplace project plan and tracker
  docs/projects/plugin-marketplace/README.md
  docs/projects/plugin-marketplace/tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: none

fix: sync marketplace schemas and update tracker with auto-update tasks
  docs/projects/plugin-marketplace/tracker.md
  schemas/marketplace.schema.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/validators/schemas.ts
Due: unittests, Validators

Path conditions:
  unittests: any of: src/, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/rules/rule-ids.ts, src/rules/index.ts, scripts/**, bin/**, examples/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Rules: any of: src/rules/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/rules/rule-ids.ts, src/rules/index.ts, scripts/**, bin/**, examples/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Validators: any of: src/validators/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/rules/rule-ids.ts, src/rules/index.ts, scripts/**, bin/**, examples/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  CLI: any of: src/cli/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/rules/rule-ids.ts, src/rules/index.ts, scripts/**, bin/**, examples/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Configuration: any of: src/config/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/rules/rule-ids.ts, src/rules/index.ts, scripts/**, bin/**, examples/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Schemas: any of: src/schemas/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/rules/rule-ids.ts, src/rules/index.ts, scripts/**, bin/**, examples/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
