Repository pdugan20/claudelint: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Rules, Validators, CLI, Configuration, Schemas

fix(ci): drop registry-url from setup-node so OIDC publish works
  .github/workflows/publish.yml
Due: none

fix(ci): bump publish runner to Node 24 for npm 11 OIDC support
  .github/workflows/publish.yml
Due: none

docs: bump SARIF example driver version to 0.5.0
  website/data/rule-stats.json
  website/integrations/sarif.md
Due: none

docs: align schema reference with v0.5.0 + add release runbook
  CLAUDE.md
  docs/RELEASING.md
  package.json
  scripts/check/publish-workflow.sh
  website/api/schemas.md
  website/api/schemas/agents.md
  website/api/schemas/hooks.md
  website/api/schemas/skills.md
  website/data/rule-stats.json
Due: none

feat(check): add schema docs coverage check + close 8 latent gaps
  package.json
  scripts/check/schema-docs-coverage.ts
  website/api/schemas/marketplace.md
  website/api/schemas/plugin.md
  website/api/schemas/skills.md
  website/data/rule-stats.json
Due: none

fix: rename docs/RELEASING.md to docs/releasing.md
  CLAUDE.md
  docs/releasing.md
  scripts/check/publish-workflow.sh
Due: none

ci: bump default Node version 20 -> 22 in CI
  .github/workflows/ci.yml
Due: none

ci: bump default Node version 20 -> 22 (#104)
  .github/workflows/ci.yml
Due: none

docs(website): replace validator diagram with featured cards
  website/data/rule-stats.json
  website/validators/overview.md
Due: none

chore(website): remove unused ValidatorDiagram component
  website/.vitepress/theme/components/ValidatorDiagram.vue
  website/.vitepress/theme/index.ts
  website/CLAUDE.md
Due: none

ci: fix Dependabot prefix + ignore major-version bumps
  .github/dependabot.yml
  .github/workflows/pr-lint.yml
Due: none

ci: fix Dependabot prefix + ignore major-version bumps (#108)
  .github/dependabot.yml
  .github/workflows/pr-lint.yml
Due: none

ci: allow revert type in PR Lint allowlist
  .github/workflows/pr-lint.yml
Due: none

build: pin node types for ts-node so scripts work under TS 6+
  tsconfig.json
Due: none

feat: distribute plugin as a downloadable archive for claude --plugin-url
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  README.md
  docs/releasing.md
  package.json
  scripts/util/package-plugin.sh
  website/integrations/claude-code-plugin.md
Due: none

ci: mark pre-release tags as prerelease in the GitHub release
  .github/workflows/publish.yml
Due: none

feat: distribute plugin as a downloadable archive for claude --plugin-url (#111)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  README.md
  docs/releasing.md
  package.json
  scripts/util/package-plugin.sh
  website/integrations/claude-code-plugin.md
Due: none

docs: drop hardcoded Claude Code version note from --plugin-url trial
  README.md
  website/integrations/claude-code-plugin.md
Due: none

docs: drop hardcoded Claude Code version note from --plugin-url trial (#112)
  README.md
  website/integrations/claude-code-plugin.md
Due: none

docs: point plugin install at pdugan20-plugins marketplace
  README.md
Due: none

docs: point plugin install at pdugan20-plugins marketplace (#118)
  README.md
Due: none

docs: add upstream watch design spec
  docs/projects/upstream-watch.md
Due: none

docs: add upstream watch implementation plan
  docs/projects/upstream-watch-plan.md
  docs/projects/upstream-watch.md
Due: none

docs: scope upstream conformance to hook events in v1
  docs/projects/upstream-watch-plan.md
  docs/projects/upstream-watch.md
Due: none

fix(schemas): add missing MessageDisplay hook event
  schemas/hooks-config.schema.json
  src/schemas/constants.ts
  src/validators/schemas.ts
  tests/schemas/constants.test.ts
  website/api/schemas.md
Due: unittests, Validators, Schemas

fix(schemas): add marketplace field to plugin dependency entries
  schemas/plugin-manifest.schema.json
  src/validators/schemas.ts
  tests/schemas/plugin-manifest.schema.test.ts
Due: unittests, Validators

feat(rules): add plugin-dependency-string-with-marketplace
  presets/all.json
  presets/recommended.json
  presets/strict.json
  src/rules/index.ts
  src/rules/plugin/plugin-dependency-string-with-marketplace.ts
  src/rules/rule-ids.ts
  tests/presets/__snapshots__/preset-generation.test.ts.snap
  tests/rules/plugin/plugin-dependency-string-with-marketplace.test.ts
  website/data/rule-stats.json
  website/data/showcase-rules.json
  website/rules/_sidebar.json
  website/rules/plugin/plugin-dependency-string-with-marketplace.md
Due: unittests, Rules

feat(rules): add plugin-dependency-not-allowlisted
  presets/all.json
  presets/recommended.json
  presets/strict.json
  src/rules/index.ts
  src/rules/plugin/plugin-dependency-not-allowlisted.ts
  src/rules/rule-ids.ts
  tests/presets/__snapshots__/preset-generation.test.ts.snap
  tests/rules/plugin/plugin-dependency-not-allowlisted.test.ts
  website/data/rule-stats.json
  website/data/showcase-rules.json
  website/rules/_sidebar.json
  website/rules/plugin/plugin-dependency-not-allowlisted.md
Due: unittests, Rules

fix(plugin): discover marketplace.json so its rules actually run
  src/rules/plugin/plugin-marketplace-files-not-found.ts
  src/utils/filesystem/files.ts
  src/utils/filesystem/patterns.ts
  src/validators/plugin.ts
  src/validators/schema-validator.ts
  tests/integration/marketplace-discovery.test.ts
  website/data/rule-stats.json
  website/rules/plugin/plugin-marketplace-files-not-found.md
Due: unittests, Rules, Validators

fix(plugin): skip missing plugin.json check for strict: false marketplace entries
  src/rules/plugin/plugin-marketplace-files-not-found.ts
  src/validators/schema-validator.ts
  tests/integration/marketplace-discovery.test.ts
Due: unittests, Rules, Validators

test(plugin): guard strict === false equality against truthiness regression
  tests/integration/marketplace-discovery.test.ts
Due: none

feat(upstream): add docs watchlist and known-extensions allowlist
  src/upstream/extensions.ts
  src/upstream/watchlist.ts
  tests/upstream/watchlist.test.ts
Due: unittests

feat(upstream): add deterministic fact extractor with minFacts guard
  scripts/upstream/extract.ts
  tests/upstream/extract.test.ts
  tests/upstream/fixtures/hooks-reformatted.md
  tests/upstream/fixtures/hooks-sample.md
Due: none

feat(upstream): add docs baseline refresh script
  .npmignore
  .prettierignore
  docs-baseline/.gitkeep
  docs-baseline/_index.json
  docs-baseline/facts.json
  docs-baseline/hooks.md
  docs-baseline/mcp.md
  docs-baseline/memory.md
  docs-baseline/output-styles.md
  docs-baseline/plugin-dependencies.md
  docs-baseline/plugin-marketplaces.md
  docs-baseline/plugins-reference.md
  docs-baseline/settings.md
  docs-baseline/skills.md
  docs-baseline/sub-agents.md
  package.json
  scripts/upstream/extract.ts
  scripts/upstream/refresh.ts
  src/upstream/watchlist.ts
  tests/upstream/refresh.test.ts
Due: unittests

fix(upstream): close index/write-order/dispatch gaps in refresh detector
  docs-baseline/facts.json
  scripts/upstream/extract.ts
  scripts/upstream/refresh.ts
  src/upstream/watchlist.ts
  tests/upstream/refresh.test.ts
Due: unittests

feat(upstream): add offline conformance check against docs baseline
  docs-baseline/upstream-ignore.json
  package.json
  scripts/check/upstream.ts
  tests/upstream/conform.test.ts
Due: none

fix(upstream): make the conformance gate fail loudly instead of vacuously
  scripts/check/upstream.ts
  tests/upstream/conform.test.ts
Due: none

ci: run upstream conformance check on every PR
  .github/workflows/ci.yml
Due: none

ci: add weekly upstream docs watch workflow
  .github/workflows/upstream-watch.yml
Due: none

feat(skills): replace check-schema-drift with check-upstream
  .claude/skills/check-schema-drift/CHANGELOG.md
  .claude/skills/check-schema-drift/SKILL.md
  .claude/skills/check-upstream/CHANGELOG.md
  .claude/skills/check-upstream/SKILL.md
  docs/projects/upstream-watch.md
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Rules: any of: src/rules/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Validators: any of: src/validators/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  CLI: any of: src/cli/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Configuration: any of: src/config/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Schemas: any of: src/schemas/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
