Repository pdugan20/claudelint: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Rules, Validators, CLI, Configuration, Schemas

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

# Files and directories to ignore in coverage reports
ignore:
  # Test fixtures and test data
  - "tests/fixtures/**"
  - "tests/__temp__/**"
  - "tests/**/*.fixture.ts"

  # Generated code
  - "src/rules/rule-ids.ts"
  - "src/rules/index.ts"

  # Scripts and tooling
  - "scripts/**"
  - "bin/**"

  # Examples and documentation
  - "examples/**"
  - "docs/**"

  # Type definitions
  - "**/*.d.ts"

  # Build output
  - "dist/**"
  - "coverage/**"
  - "node_modules/**"

  # Configuration files
  - "*.config.js"
  - "*.config.ts"
  - ".eslintrc.js"
  - "jest.config.js"

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# GitHub Checks
github_checks:
  annotations: true

# Flag management for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: rules
      name: Rules
      paths:
        - src/rules/**

    - component_id: validators
      name: Validators
      paths:
        - src/validators/**

    - component_id: cli
      name: CLI
      paths:
        - src/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/config/**

    - component_id: schemas
      name: Schemas
      paths:
        - src/schemas/**

fix: Phase 1 type safety improvements (24 errors fixed)
  .claudelint-cache/files/11e1c3d9cd8c6fe31cf1bdeb5a391c14dc97253142a29f902ae7cf343fb69e7e.json
  .claudelint-cache/files/2dec51d22eeba96b2ab91f1729cf7b4b1a82957dc9aedab4cf95e1c67dfaad62.json
  .claudelint-cache/index.json
  docs/projects/github-automation/eslint-fix-plan.md
  src/api/claudelint.ts
  src/api/formatter.ts
  src/cli/commands/cache-clear.ts
  src/cli/commands/check-all.ts
  src/cli/commands/format.ts
  src/cli/init-wizard.ts
  src/cli/utils/formatters/markdownlint.ts
  src/cli/utils/formatters/prettier.ts
  src/rules/agents/agent-name-directory-mismatch.ts
  src/rules/claude-md/claude-md-rules-circular-symlink.ts
  src/rules/index.ts
  src/rules/output-styles/output-style-name-directory-mismatch.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-deep-nesting.ts
  src/rules/skills/skill-multi-script-missing-readme.ts
  src/rules/skills/skill-name-directory-mismatch.ts
  src/rules/skills/skill-naming-inconsistent.ts
  src/rules/skills/skill-too-many-files.ts
  src/schemas/lsp-config.schema.ts
  src/utils/config/extends.ts
  src/utils/rules/loader.ts
  src/utils/rules/registry.ts
Due: unittests, Rules, CLI, Schemas

fix: Phase 2 type safety improvements (30 errors fixed)
  .claudelint-cache/files/11e1c3d9cd8c6fe31cf1bdeb5a391c14dc97253142a29f902ae7cf343fb69e7e.json
  .claudelint-cache/files/2dec51d22eeba96b2ab91f1729cf7b4b1a82957dc9aedab4cf95e1c67dfaad62.json
  .claudelint-cache/index.json
  src/api/claudelint.ts
  src/utils/rules/loader.ts
  src/utils/workspace/detector.ts
Due: unittests

fix: Phase 3 part 1 - type guard helpers and LSP rules (40 errors fixed)
  .claudelint-cache/files/11e1c3d9cd8c6fe31cf1bdeb5a391c14dc97253142a29f902ae7cf343fb69e7e.json
  .claudelint-cache/index.json
  src/rules/lsp/lsp-command-not-in-path.ts
  src/rules/lsp/lsp-config-file-not-json.ts
  src/rules/lsp/lsp-config-file-relative-path.ts
  src/rules/lsp/lsp-extension-missing-dot.ts
  src/rules/lsp/lsp-invalid-transport.ts
  src/rules/lsp/lsp-language-id-empty.ts
  src/rules/lsp/lsp-language-id-not-lowercase.ts
  src/rules/lsp/lsp-server-name-too-short.ts
  src/utils/type-guards.ts
Due: unittests, Rules

fix: Phase 3 part 2 - MCP rules type safety (10 errors fixed)
  .claudelint-cache/files/2dec51d22eeba96b2ab91f1729cf7b4b1a82957dc9aedab4cf95e1c67dfaad62.json
  .claudelint-cache/index.json
  src/rules/mcp/mcp-http-empty-url.ts
  src/rules/mcp/mcp-http-invalid-url.ts
  src/rules/mcp/mcp-server-key-mismatch.ts
  src/rules/mcp/mcp-sse-empty-url.ts
  src/rules/mcp/mcp-sse-invalid-url.ts
  src/rules/mcp/mcp-sse-transport-deprecated.ts
  src/rules/mcp/mcp-stdio-empty-command.ts
  src/rules/mcp/mcp-websocket-empty-url.ts
  src/rules/mcp/mcp-websocket-invalid-protocol.ts
  src/rules/mcp/mcp-websocket-invalid-url.ts
Due: unittests, Rules

fix: Phase 3 part 3 - Plugin and Settings rules (23 errors fixed)
  .claudelint-cache/files/2dec51d22eeba96b2ab91f1729cf7b4b1a82957dc9aedab4cf95e1c67dfaad62.json
  .claudelint-cache/files/66ab48bd87f96eea3cf30bbf20246e829f068e256c2bf387dbfccccf2a9af300.json
  .claudelint-cache/index.json
  src/rules/plugin/plugin-description-required.ts
  src/rules/plugin/plugin-name-required.ts
  src/rules/plugin/plugin-version-required.ts
  src/rules/settings/settings-file-path-not-found.ts
Due: unittests, Rules

fix: complete TypeScript-ESLint type safety fixes (171→0 errors)
  .claudelint-cache/files/66ab48bd87f96eea3cf30bbf20246e829f068e256c2bf387dbfccccf2a9af300.json
  .claudelint-cache/index.json
  src/api/claudelint.ts
  src/api/formatter.ts
  src/api/types.ts
  src/cli.ts
  src/cli/utils/formatters/markdownlint.ts
  src/rules/agents/agent-name-directory-mismatch.ts
  src/rules/output-styles/output-style-name-directory-mismatch.ts
  src/rules/skills/skill-name-directory-mismatch.ts
  src/utils/formats/json.ts
  src/utils/rules/loader.ts
  src/utils/workspace/detector.ts
Due: unittests, Rules, CLI

fix: resolve TypeScript compilation errors and CLI test failures
  .claudelint-cache/files/11e1c3d9cd8c6fe31cf1bdeb5a391c14dc97253142a29f902ae7cf343fb69e7e.json
  .claudelint-cache/index.json
  src/api/claudelint.ts
  tests/integration/cli.test.ts
Due: unittests

test: update all settings tests for new permissions format
  .claudelint-cache/files/11e1c3d9cd8c6fe31cf1bdeb5a391c14dc97253142a29f902ae7cf343fb69e7e.json
  .claudelint-cache/files/308053aa28ca1aeb7ab9eca784994d4365dc8e8b7dc0bfa99ca9a21abfe50361.json
  .claudelint-cache/files/9679104120bea618fa44f7641f8ba05cf16b96286cf47ffcabe25481813fed2a.json
  .claudelint-cache/files/c6ecf50e94403c70bede0599d6bdd59a473b4c53028b8f4ce97e5aa8d2731ae1.json
  .claudelint-cache/files/c6fe6c4528f4a13055743543e1fa317b5bcc930b8a16581114dafb68e37a0d5f.json
  .claudelint-cache/index.json
  docs/projects/github-automation/tracker.md
  src/api/claudelint.ts
  src/cli/commands/check-all.ts
  src/rules/claude-md/claude-md-rules-circular-symlink.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/settings/settings-invalid-permission.ts
  src/rules/settings/settings-permission-empty-pattern.ts
  src/rules/settings/settings-permission-invalid-rule.ts
  src/utils/config/types.ts
  src/utils/reporting/reporting.ts
  src/utils/type-guards.ts
  src/utils/workspace/detector.ts
  src/validators/schemas.ts
  tests/rules/settings/settings-invalid-permission.test.ts
  tests/rules/settings/settings-permission-empty-pattern.test.ts
  tests/rules/settings/settings-permission-invalid-rule.test.ts
  tests/validators/settings.test.ts
Due: unittests, Rules, Validators, CLI

docs: update settings rule documentation for official schema format
  docs/projects/github-automation/tracker.md
  docs/rules/settings/settings-invalid-permission.md
  docs/rules/settings/settings-permission-empty-pattern.md
  docs/rules/settings/settings-permission-invalid-rule.md
Due: none

docs: add official Claude Code settings documentation links
  docs/rules/settings/settings-invalid-permission.md
  docs/rules/settings/settings-permission-empty-pattern.md
  docs/rules/settings/settings-permission-invalid-rule.md
Due: none

feat: add schema sync verification and fix hooks schema format
  .claudelint-cache/files/11e1c3d9cd8c6fe31cf1bdeb5a391c14dc97253142a29f902ae7cf343fb69e7e.json
  .claudelint-cache/index.json
  package.json
  scripts/check/schema-sync.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/utils/validators/helpers.ts
  src/validators/schemas.ts
  src/validators/settings.ts
  tests/validators/settings.test.ts
Due: unittests, Validators

docs: add Task 10 to tracker for schema sync verification
  docs/projects/github-automation/tracker.md
Due: none

refactor: align with Anthropic guidance and automate CHANGELOG generation
  .claude/skills/.templates/CHANGELOG.md
  .claude/skills/format/CHANGELOG.md
  .claude/skills/validate-agents-md/CHANGELOG.md
  .claude/skills/validate-agents-md/SKILL.md
  .claude/skills/validate-agents-md/validate-agents-md.sh
  .claude/skills/validate-hooks/CHANGELOG.md
  .claude/skills/validate-mcp/CHANGELOG.md
  .claude/skills/validate-plugin/CHANGELOG.md
  .claude/skills/validate-settings/CHANGELOG.md
  .claude/skills/validate-skills/CHANGELOG.md
  .claude/skills/validate/CHANGELOG.md
  .claude/skills/validate/SKILL.md
  .claudelint-cache/files/11e1c3d9cd8c6fe31cf1bdeb5a391c14dc97253142a29f902ae7cf343fb69e7e.json
  .claudelint-cache/files/2389074f5b1ad3a5bf4b6656deea34373c66df672ba4315718e228ff3f41d875.json
  .claudelint-cache/files/2dec51d22eeba96b2ab91f1729cf7b4b1a82957dc9aedab4cf95e1c67dfaad62.json
  .claudelint-cache/files/66ab48bd87f96eea3cf30bbf20246e829f068e256c2bf387dbfccccf2a9af300.json
  .claudelint-cache/index.json
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/plugin-usage.md
  docs/projects/rule-implementation/rules-reference.md
  docs/rules/index.md
  docs/rules/skills/skill-body-too-long.md
  docs/rules/skills/skill-large-reference-no-toc.md
  docs/rules/skills/skill-missing-changelog.md
  plugin.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-body-too-long.ts
  src/rules/skills/skill-large-reference-no-toc.ts
  tests/integration/plugin.integration.test.ts
  tests/rules/skills/skill-large-reference-no-toc.test.ts
Due: unittests, Rules

refactor: implement rule-coverage and remove obsolete stub scripts
  .claudelint-cache/index.json
  .husky/pre-commit
  package.json
  scripts/check/duplicate-fixtures.ts
  scripts/check/duplicate-logic.ts
  scripts/check/rule-coverage.ts
Due: none

refactor: reorganize root scripts into proper directories
  .claude-plugin/marketplace.json
  examples/integration/package.json
  package.json
  plugin.json
  scripts/check/links.js
  scripts/migrate-package-name.ts
  scripts/reverse-migrate-name.ts
  scripts/util/setup-github-labels.sh
  scripts/util/sync-versions.ts
Due: none

docs: add plugin and CLAUDE.md management project documentation
  docs/projects/plugin-and-md-management/README.md
  docs/projects/plugin-and-md-management/claude-md-best-practices.md
  docs/projects/plugin-and-md-management/plugin-manifest-spec.md
  docs/projects/plugin-and-md-management/skill-specifications.md
  docs/projects/plugin-and-md-management/tracker.md
  docs/projects/plugin-and-md-management/validation-rules.md
Due: none

docs: add comprehensive verification steps to Phase 1 tracker
  docs/projects/plugin-and-md-management/tracker.md
Due: none

docs: clarify npm vs plugin distribution channels
  docs/projects/plugin-and-md-management/README.md
  docs/projects/plugin-and-md-management/plugin-manifest-spec.md
  docs/projects/plugin-and-md-management/tracker.md
Due: none

fix: remove .claude and skills directories from npm package
  package.json
Due: none

feat: add plugin.json manifest for Claude Code plugin distribution
  .claude-plugin/plugin.json
  docs/projects/plugin-and-md-management/tracker.md
Due: none

refactor: rename generic skills to specific names
  .claude/skills/format-cc/CHANGELOG.md
  .claude/skills/format-cc/SKILL.md
  .claude/skills/format-cc/format.sh
  .claude/skills/validate-all/CHANGELOG.md
  .claude/skills/validate-all/SKILL.md
  .claude/skills/validate-all/validate.sh
  .claude/skills/validate-cc-md/CHANGELOG.md
  .claude/skills/validate-cc-md/SKILL.md
  .claude/skills/validate-cc-md/validate-agents-md.sh
  docs/architecture.md
  docs/plugin-usage.md
  docs/projects/plugin-and-md-management/tracker.md
Due: none

docs: add schema audit and plugin schema fix task
  docs/projects/plugin-and-md-management/schema-audit.md
  docs/projects/plugin-and-md-management/tracker.md
Due: none

feat: create centralized schema registry
  docs/projects/plugin-and-md-management/schema-audit.md
  src/schemas/schema-registry.ts
Due: unittests, Schemas

docs: add constants audit for official Claude Code values
  docs/projects/plugin-and-md-management/constants-audit.md
Due: none

docs: add unified truth registry proposal and Phase 2
  docs/projects/plugin-and-md-management/README.md
  docs/projects/plugin-and-md-management/tracker.md
  docs/projects/plugin-and-md-management/truth-registry-proposal.md
Due: none

fix: align plugin.json schema with official spec and delete invalid rules
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude/skills/format-cc/format-cc.sh
  .claude/skills/validate-all/validate-all.sh
  .claude/skills/validate-cc-md/validate-cc-md.sh
  .claudelint-cache/index.json
  bin/claudelint
  docs/projects/plugin-and-md-management/tracker.md
  plugin.json
  scripts/verify/rule-implementations.ts
  src/rules/index.ts
  src/rules/plugin/plugin-circular-dependency.ts
  src/rules/plugin/plugin-dependency-invalid-version.ts
  src/rules/plugin/plugin-missing-file.ts
  src/rules/rule-ids.ts
  src/validators/schemas.ts
  tests/integration/plugin.integration.test.ts
  tests/rules/plugin/plugin-circular-dependency.test.ts
  tests/rules/plugin/plugin-dependency-invalid-version.test.ts
Due: unittests, Rules, Validators

feat: add skill-overly-generic-name rule (E10) to flag single-word verbs
  .claudelint-cache/index.json
  docs/projects/plugin-and-md-management/tracker.md
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/rules/skills/skill-overly-generic-name.ts
  tests/rules/skills/skill-overly-generic-name.test.ts
Due: unittests, Rules

docs: update documentation for Phase 1 progress and E10 rule
  README.md
  docs/projects/plugin-and-md-management/README.md
  docs/rules/skills/skill-overly-generic-name.md
Due: none

docs: mark Task 1.7 complete - plugin structure verified
  docs/projects/plugin-and-md-management/tracker.md
Due: none

feat: complete Phase 1 - plugin infrastructure and dependency management
  .claude/skills/format-cc/format-cc.sh
  .claude/skills/validate-all/validate-all.sh
  .claude/skills/validate-cc-md/validate-cc-md.sh
  .claude/skills/validate-hooks/validate-hooks.sh
  .claude/skills/validate-mcp/validate-mcp.sh
  .claude/skills/validate-plugin/validate-plugin.sh
  .claude/skills/validate-settings/validate-settings.sh
  .claude/skills/validate-skills/validate-skills.sh
  README.md
  docs/projects/plugin-and-md-management/README.md
  docs/projects/plugin-and-md-management/tracker.md
  docs/skill-naming.md
  package.json
  plugin.json
  scripts/util/postinstall.js
  src/cli.ts
  src/cli/commands/install-plugin.ts
  src/cli/init-wizard.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
Due: unittests, CLI

fix: correct LSPConfigSchema structure and add 7 missing fields
  docs/projects/plugin-and-md-management/phase-2-progress.md
  docs/projects/plugin-and-md-management/schema-inventory.md
  docs/projects/plugin-and-md-management/tracker.md
  schemas/lsp-config.schema.json
  src/rules/index.ts
  src/rules/lsp/lsp-command-not-in-path.ts
  src/rules/lsp/lsp-config-file-not-json.ts
  src/rules/lsp/lsp-config-file-relative-path.ts
  src/rules/lsp/lsp-extension-missing-dot.ts
  src/rules/lsp/lsp-invalid-transport.ts
  src/rules/lsp/lsp-language-id-empty.ts
  src/rules/lsp/lsp-language-id-not-lowercase.ts
  src/rules/lsp/lsp-server-name-too-short.ts
  src/rules/rule-ids.ts
  src/schemas/lsp-config.schema.ts
  tests/rules/lsp/lsp-command-not-in-path.test.ts
  tests/rules/lsp/lsp-config-file-not-json.test.ts
  tests/rules/lsp/lsp-config-file-relative-path.test.ts
  tests/rules/lsp/lsp-extension-missing-dot.test.ts
  tests/rules/lsp/lsp-invalid-transport.test.ts
  tests/rules/lsp/lsp-language-id-empty.test.ts
  tests/rules/lsp/lsp-language-id-not-lowercase.test.ts
  tests/rules/lsp/lsp-server-name-too-short.test.ts
  tests/validators/lsp.test.ts
Due: unittests, Rules, Schemas

fix: correct AgentFrontmatterSchema and remove non-existent events field
  docs/projects/plugin-and-md-management/phase-2-progress.md
  docs/projects/plugin-and-md-management/schema-inventory.md
  docs/projects/plugin-and-md-management/tracker.md
  schemas/agent-frontmatter.schema.json
  src/rules/agents/agent-disallowed-tools.ts
  src/rules/agents/agent-events.ts
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/schemas/agent-frontmatter.schema.ts
  tests/rules/agents/agent-disallowed-tools.test.ts
  tests/rules/agents/agent-events.test.ts
  tests/rules/agents/agent-tools.test.ts
  tests/schemas/agent-frontmatter.schema.test.ts
Due: unittests, Rules, Schemas

fix: correct OutputStyleFrontmatterSchema and remove invalid validation rules
  docs/projects/plugin-and-md-management/phase-2-progress.md
  docs/projects/plugin-and-md-management/schema-inventory.md
  docs/projects/plugin-and-md-management/tracker.md
  schemas/output-style-frontmatter.schema.json
  src/rules/index.ts
  src/rules/output-styles/output-style-description.ts
  src/rules/output-styles/output-style-examples.ts
  src/rules/output-styles/output-style-missing-examples.ts
  src/rules/output-styles/output-style-name.ts
  src/rules/rule-ids.ts
  src/schemas/output-style-frontmatter.schema.ts
  tests/rules/output-styles/output-style-description.test.ts
  tests/rules/output-styles/output-style-examples.test.ts
  tests/rules/output-styles/output-style-missing-examples.test.ts
  tests/rules/output-styles/output-style-name.test.ts
  tests/schemas/output-style-frontmatter.schema.test.ts
Due: unittests, Rules, Schemas

refactor: rename ClaudeMdFrontmatterSchema to RulesFrontmatterSchema for clarity
  docs/projects/plugin-and-md-management/phase-2-progress.md
  docs/projects/plugin-and-md-management/schema-inventory.md
  docs/projects/plugin-and-md-management/tracker.md
  schemas/rules-frontmatter.schema.json
  src/rules/index.ts
  src/rules/rule-ids.ts
  src/schemas/claude-md-frontmatter.schema.ts
  src/schemas/index.ts
  src/schemas/rules-frontmatter.schema.ts
  src/schemas/schema-registry.ts
  src/validators/claude-md.ts
  tests/schemas/rules-frontmatter.schema.test.ts
Due: unittests, Validators, Schemas

refactor: extract source URLs to custom schema properties and fix LSP tests
  schemas/agent-frontmatter.schema.json
  schemas/hooks-config.schema.json
  schemas/lsp-config.schema.json
  schemas/mcp-config.schema.json
  schemas/output-style-frontmatter.schema.json
  schemas/plugin-manifest.schema.json
  schemas/rules-frontmatter.schema.json
  schemas/skill-frontmatter.schema.json
  tests/schemas/lsp-config.schema.test.ts
Due: none

docs: update Phase 2.1 documentation with completion status
  docs/projects/plugin-and-md-management/phase-2-progress.md
  docs/projects/plugin-and-md-management/tracker.md
Due: none

feat: add JSON Schema generation from Zod schemas
  .gitignore
  package.json
  scripts/generate/json-schemas.ts
Due: none

feat: add schema comparison tool for drift detection
  package.json
  scripts/verify/compare-schemas.ts
Due: none

refactor: modernize schema-sync script for Phase 2.2
  scripts/check/schema-sync.ts
Due: none
