Repository pdugan20/claudelint: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Rules, Validators, CLI, Configuration, Schemas

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "80...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%

# Files and directories to ignore in coverage reports
ignore:
  # Test fixtures and test data
  - "tests/fixtures/**"
  - "tests/__temp__/**"
  - "tests/**/*.fixture.ts"

  # Entry points and barrel re-exports
  - "src/index.ts"
  - "src/api/index.ts"
  - "src/schemas/index.ts"
  - "src/utils/index.ts"
  - "src/utils/validators/index.ts"
  - "src/validators/index.ts"

  # Generated code
  - "src/rules/rule-ids.ts"
  - "src/rules/index.ts"

  # CLI (tested via integration tests, not unit coverage)
  - "src/cli.ts"
  - "src/cli/commands/**"
  - "src/cli/init-wizard.ts"
  - "src/cli/config-debug.ts"
  - "src/cli/utils/logger.ts"
  - "src/cli/utils/config-loader.ts"
  - "src/cli/utils/system-tools.ts"
  - "src/cli/utils/formatters/**"

  # Scripts and tooling
  - "scripts/**"
  - "bin/**"

  # Examples and documentation
  - "docs/**"

  # Type definitions
  - "**/*.d.ts"

  # Build output
  - "dist/**"
  - "coverage/**"
  - "node_modules/**"

  # Configuration files
  - "*.config.js"
  - "*.config.ts"
  - ".eslintrc.js"
  - "jest.config.js"

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# GitHub Checks
github_checks:
  annotations: true

# Flag management for different test types
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: rules
      name: Rules
      paths:
        - src/rules/**

    - component_id: validators
      name: Validators
      paths:
        - src/validators/**

    - component_id: cli
      name: CLI
      paths:
        - src/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/config/**

    - component_id: schemas
      name: Schemas
      paths:
        - src/schemas/**

ci: harden GitHub automation policy
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pr-size.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  .github/workflows/upstream-watch.yml
  .github/workflows/welcome.yml
  package.json
  scripts/check/github-actions-security.ts
Due: none

fix: harden GitHub automation policy
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/upstream-watch.yml
  scripts/check/github-actions-provenance.json
  scripts/check/github-actions-security-policy.ts
  scripts/check/github-actions-security.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: close GitHub policy traversal gaps
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: fail closed on automation entrypoints
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: close delegated script reachability gaps
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: follow install lifecycle entrypoints
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: analyze substitution and publish lifecycles
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

refactor: enforce automation capabilities
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

test: isolate temporary git repositories
  tests/integration/changed-file-scoping.test.ts
Due: none

fix: close automation capability gaps
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: bind privileged automation profiles
  scripts/check/github-actions-security-policy.ts
  scripts/check/github-automation-profiles.json
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: consume exact profiles only when authorized
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

ci: harden GitHub automation policy (#155)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pr-size.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  .github/workflows/upstream-watch.yml
  .github/workflows/welcome.yml
  package.json
  scripts/check/github-actions-provenance.json
  scripts/check/github-actions-security-policy.ts
  scripts/check/github-actions-security.ts
  scripts/check/github-automation-profiles.json
  tests/integration/changed-file-scoping.test.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

ci: add manual CI recovery trigger
  .github/workflows/ci.yml
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: validate manual dispatch trigger shape
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

ci: add manual CI recovery trigger (#159)
  .github/workflows/ci.yml
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

ci: trust upload-artifact v7 provenance
  scripts/check/github-actions-provenance.json
Due: none

fix(skills): scan body only in skill-xml-tags-anywhere
  src/rules/skills/skill-xml-tags-anywhere.ts
  tests/rules/skills/skill-xml-tags-anywhere.test.ts
Due: unittests, Rules

chore: share agent guidance across runtimes
  .agents/skills/check-upstream/CHANGELOG.md
  .agents/skills/check-upstream/SKILL.md
  .claude/skills/check-upstream
  .claudelintrc.json
  AGENTS.md
  CLAUDE.md
  src/AGENTS.md
  src/CLAUDE.md
  website/AGENTS.md
  website/CLAUDE.md
Due: unittests

chore: share agent guidance across runtimes (#165)
  .agents/skills/check-upstream/CHANGELOG.md
  .agents/skills/check-upstream/SKILL.md
  .claude/skills/check-upstream
  .claudelintrc.json
  AGENTS.md
  CLAUDE.md
  src/AGENTS.md
  src/CLAUDE.md
  website/AGENTS.md
  website/CLAUDE.md
Due: unittests

docs: retire docs-tools references
  .claude-plugin/DEVELOPMENT.md
  docs/projects/roadmap.md
  docs/projects/status.md
Due: none

docs: retire docs-tools references (#168)
  .claude-plugin/DEVELOPMENT.md
  docs/projects/roadmap.md
  docs/projects/status.md
Due: none

fix: use renamed plugin marketplace
  .claude-plugin/README.md
  .claude-plugin/marketplace.json
  .claude-plugin/scripts/check-dependency.js
  README.md
  src/cli/commands/install-plugin.ts
  website/integrations/claude-code-plugin.md
  website/public/setup-guide.md
Due: none

fix: use renamed plugin marketplace (#169)
  .claude-plugin/README.md
  .claude-plugin/marketplace.json
  .claude-plugin/scripts/check-dependency.js
  README.md
  src/cli/commands/install-plugin.ts
  website/integrations/claude-code-plugin.md
  website/public/setup-guide.md
Due: none

chore: release v0.7.1
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: handle Windows skill discovery paths
  src/utils/filesystem/files.ts
  tests/utils/file-discovery.test.ts
  website/data/rule-stats.json
Due: unittests

fix: accept output style names in settings
  src/rules/settings/settings-file-path-not-found.ts
  tests/rules/settings/settings-file-path-not-found.test.ts
  website/rules/settings/settings-file-path-not-found.md
Due: unittests, Rules

fix: require Node.js 22
  .github/workflows/ci.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  scripts/util/setup-branch-protection.sh
  tests/package-json.test.ts
  website/development/contributing.md
  website/integrations/ci.md
  website/integrations/overview.md
Due: none

ci: validate skill discovery on Windows
  .github/workflows/ci.yml
  scripts/util/setup-branch-protection.sh
Due: none

test: verify skill discovery on Windows
  .github/workflows/ci.yml
  tests/utils/file-discovery.test.ts
Due: none

fix: address recent runtime and validation regressions (#180)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  scripts/util/setup-branch-protection.sh
  src/rules/settings/settings-file-path-not-found.ts
  src/utils/filesystem/files.ts
  tests/package-json.test.ts
  tests/rules/settings/settings-file-path-not-found.test.ts
  tests/utils/file-discovery.test.ts
  website/data/rule-stats.json
  website/development/contributing.md
  website/integrations/ci.md
  website/integrations/overview.md
  website/rules/settings/settings-file-path-not-found.md
Due: unittests, Rules

chore: release v0.8.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Automate Codex and dependency reviews
  AGENTS.md
Due: none

fix: correct autoMode.environment schema from record to array
  src/validators/schemas.ts
Due: unittests, Validators

docs: standardize README badges
  README.md
Due: none

docs: standardize README badges (#193)
  README.md
Due: none

build!: migrate to TypeScript 6
  package-lock.json
  package.json
  src/api/claudelint.ts
  tests/utils/__snapshots__/reporting-snapshot.test.ts.snap
  tests/utils/reporting-snapshot.test.ts
  tsconfig.api-examples.json
  tsconfig.json
Due: unittests

build!: migrate to TypeScript 6 (#194)
  package-lock.json
  package.json
  src/api/claudelint.ts
  tests/utils/__snapshots__/reporting-snapshot.test.ts.snap
  tests/utils/reporting-snapshot.test.ts
  tsconfig.api-examples.json
  tsconfig.json
Due: unittests

docs: standardize readme badges
  README.md
Due: none

docs: standardize readme badges (#195)
  README.md
Due: none
