Repository pdugan20/claudelint: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Rules, Validators, CLI, Configuration, Schemas

docs: restore documentation badge
  README.md
Due: none

docs: restore documentation badge (#196)
  README.md
Due: none

build: add disabled Renovate bootstrap
  renovate.json
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

build: add disabled Renovate bootstrap (#198)
  renovate.json
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix(deps): clear dependency vulnerabilities
  package-lock.json
  package.json
Due: none

fix(deps): clear high-severity dependency vulnerabilities (#192)
  package-lock.json
  package.json
Due: none

ci: activate Renovate routine ownership and reduce Dependabot to security updates
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/pr-lint.yml
  renovate.json
  scripts/check/github-actions-security-policy.ts
  scripts/check/github-automation-profiles.json
  tests/scripts/github-actions-security-policy.test.ts
Due: none

ci: pin the security-aware PR title gate in the policy checker
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

ci: pin the full title-gate contract and forbid a conditional gate step
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

ci: pin the title gate by exact contract equality
  scripts/check/github-actions-security-policy.ts
  tests/scripts/github-actions-security-policy.test.ts
Due: none

ci: activate Renovate routine ownership and reduce Dependabot to security updates (#199)
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/pr-lint.yml
  renovate.json
  scripts/check/github-actions-security-policy.ts
  scripts/check/github-automation-profiles.json
  tests/scripts/github-actions-security-policy.test.ts
Due: none

fix: discover flat output styles
  src/rules/output-styles/output-style-name-directory-mismatch.ts
  src/utils/filesystem/files.ts
  src/utils/filesystem/paths.ts
  src/utils/filesystem/patterns.ts
  src/validators/output-styles.ts
  tests/rules/output-styles/output-style-name-directory-mismatch.test.ts
  tests/utils/file-discovery.test.ts
  tests/utils/path-helpers.test.ts
  website/rules/output-styles/output-style-name-directory-mismatch.md
Due: unittests, Rules, Validators

fix: honor enforcement flags for stdin exit code
  src/cli/commands/check-all.ts
  src/cli/utils/exit-code.ts
  tests/cli/exit-code.test.ts
  tests/cli/stdin.test.ts
Due: unittests, CLI

fix: synchronize auto mode environment schema and coverage
  schemas/settings.schema.json
  tests/schemas/settings.schema.test.ts
Due: none

fix(plugin): quote the SessionStart script path (#222)
  hooks/hooks.json
  scripts/check/version-sync.ts
  tests/plugin/hook-command.test.ts
Due: none

docs: add repository-specific code review guidance (#190)
  AGENTS.md
Due: none

fix(plugin): include hooks in the release archive
  scripts/check/github-actions-security-policy.ts
  scripts/util/package-plugin.sh
  tests/scripts/package-plugin.test.ts
Due: none

chore: keep generated release headings free of emojis
  .release-it.json
Due: none

chore: release v0.8.1
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: release v0.8.1 (#224)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.js
  .release-it.json
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/check/github-actions-security-policy.ts
  scripts/util/package-plugin.sh
  tests/scripts/package-plugin.test.ts
Due: none

fix: validate settings hooks and correct plugin update guidance
  .claude-plugin/README.md
  .claude-plugin/scripts/check-dependency.js
  src/cli/commands/install-plugin.ts
  src/rules/hooks/hooks-invalid-config.ts
  src/rules/hooks/hooks-invalid-event.ts
  src/rules/hooks/hooks-missing-script.ts
  src/validators/settings.ts
  tests/cli/settings-hooks.test.ts
  tests/plugin/check-dependency.test.ts
  tests/rules/hooks/hooks-invalid-config.test.ts
  tests/validators/settings.test.ts
  website/integrations/claude-code-plugin.md
  website/rules/hooks/hooks-invalid-config.md
  website/rules/hooks/hooks-invalid-event.md
  website/rules/hooks/hooks-missing-script.md
Due: unittests, Rules, Validators

chore: apply compatible dependency maintenance updates
  docs/projects/issue-follow-through.md
  package-lock.json
  package.json
  website/api/schemas.md
Due: none

chore: release v0.8.2
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: modernize development tooling on Node 22
  .github/workflows/ci.yml
  .github/workflows/upstream-watch.yml
  .nvmrc
  CONTRIBUTING.md
  docs/projects/issue-follow-through.md
  package-lock.json
  package.json
  src/api/claudelint.ts
  src/api/formatter.ts
  src/utils/formats/markdown.ts
  src/utils/formats/yaml.ts
  src/validators/file-validator.ts
  website/development/contributing.md
Due: unittests, Validators

chore: modernize development tooling on Node 22 (#226)
  .github/workflows/ci.yml
  .github/workflows/upstream-watch.yml
  .nvmrc
  CONTRIBUTING.md
  docs/projects/issue-follow-through.md
  package-lock.json
  package.json
  src/api/claudelint.ts
  src/api/formatter.ts
  src/utils/formats/markdown.ts
  src/utils/formats/yaml.ts
  src/validators/file-validator.ts
  website/development/contributing.md
Due: unittests, Validators

fix: validate local settings and align permission rules with upstream
  docs-baseline/facts.json
  docs-baseline/permissions.md
  docs/projects/issue-follow-through.md
  scripts/check/hardcoded-counts.ts
  scripts/check/upstream.ts
  scripts/upstream/extract.ts
  scripts/upstream/permissions.ts
  src/rules/commands/commands-deprecated-directory.ts
  src/rules/plugin/plugin-commands-deprecated.ts
  src/rules/settings/settings-file-path-not-found.ts
  src/rules/settings/settings-invalid-env-var.ts
  src/rules/settings/settings-invalid-permission.ts
  src/rules/settings/settings-permission-empty-pattern.ts
  src/rules/settings/settings-permission-invalid-rule.ts
  src/upstream/watchlist.ts
  src/utils/validators/settings.ts
  tests/cli/settings-permissions.test.ts
  tests/rules/commands/commands-deprecated-directory.test.ts
  tests/rules/plugin/plugin-commands-deprecated.test.ts
  tests/rules/settings/settings-permission-invalid-rule.test.ts
  tests/upstream/commands.test.ts
  tests/upstream/permissions.test.ts
  tests/validators/settings-rules.test.ts
  tests/validators/settings.test.ts
  website/rules/commands/commands-deprecated-directory.md
  website/rules/plugin/plugin-commands-deprecated.md
  website/rules/settings/settings-file-path-not-found.md
  website/rules/settings/settings-invalid-env-var.md
  website/rules/settings/settings-invalid-permission.md
  website/rules/settings/settings-permission-empty-pattern.md
  website/rules/settings/settings-permission-invalid-rule.md
Due: unittests, Rules

fix: validate local settings and align permission rules with upstream (#227)
  docs-baseline/facts.json
  docs-baseline/permissions.md
  docs/projects/issue-follow-through.md
  scripts/check/hardcoded-counts.ts
  scripts/check/upstream.ts
  scripts/upstream/extract.ts
  scripts/upstream/permissions.ts
  src/rules/commands/commands-deprecated-directory.ts
  src/rules/plugin/plugin-commands-deprecated.ts
  src/rules/settings/settings-file-path-not-found.ts
  src/rules/settings/settings-invalid-env-var.ts
  src/rules/settings/settings-invalid-permission.ts
  src/rules/settings/settings-permission-empty-pattern.ts
  src/rules/settings/settings-permission-invalid-rule.ts
  src/upstream/watchlist.ts
  src/utils/validators/settings.ts
  tests/cli/settings-permissions.test.ts
  tests/rules/commands/commands-deprecated-directory.test.ts
  tests/rules/plugin/plugin-commands-deprecated.test.ts
  tests/rules/settings/settings-permission-invalid-rule.test.ts
  tests/upstream/commands.test.ts
  tests/upstream/permissions.test.ts
  tests/validators/settings-rules.test.ts
  tests/validators/settings.test.ts
  website/rules/commands/commands-deprecated-directory.md
  website/rules/plugin/plugin-commands-deprecated.md
  website/rules/settings/settings-file-path-not-found.md
  website/rules/settings/settings-invalid-env-var.md
  website/rules/settings/settings-invalid-permission.md
  website/rules/settings/settings-permission-empty-pattern.md
  website/rules/settings/settings-permission-invalid-rule.md
Due: unittests, Rules

chore: migrate runtime dependencies with compatibility checks
  docs/projects/issue-follow-through.md
  jest.config.js
  package-lock.json
  package.json
  scripts/check/file-naming.ts
  scripts/check/rule-docs.ts
  scripts/check/rule-ids.ts
  scripts/util/postinstall.js
  src/api/claudelint.ts
  src/api/formatter.ts
  src/api/functions.ts
  src/cli/commands/check-all.ts
  src/cli/utils/formatters/markdownlint.ts
  src/utils/formats/markdown.ts
  src/utils/formats/yaml.ts
  src/utils/rules/helpers.ts
  src/utils/workspace/detector.ts
  src/validators/file-validator.ts
  tests/cli/stdin.test.ts
  tests/integration/custom-rules.integration.test.ts
  tests/integration/runtime-dependencies.test.ts
  tests/utils/yaml.test.ts
  tsconfig.api-examples.json
  tsconfig.json
  tsconfig.tests.json
  website/development/contributing.md
  website/guide/getting-started.md
Due: unittests, Validators

chore: migrate runtime dependencies with compatibility checks (#228)
  docs/projects/issue-follow-through.md
  jest.config.js
  package-lock.json
  package.json
  scripts/check/file-naming.ts
  scripts/check/rule-docs.ts
  scripts/check/rule-ids.ts
  scripts/util/postinstall.js
  src/api/claudelint.ts
  src/api/formatter.ts
  src/api/functions.ts
  src/cli/commands/check-all.ts
  src/cli/utils/formatters/markdownlint.ts
  src/utils/formats/markdown.ts
  src/utils/formats/yaml.ts
  src/utils/rules/helpers.ts
  src/utils/workspace/detector.ts
  src/validators/file-validator.ts
  tests/cli/stdin.test.ts
  tests/integration/custom-rules.integration.test.ts
  tests/integration/runtime-dependencies.test.ts
  tests/utils/yaml.test.ts
  tsconfig.api-examples.json
  tsconfig.json
  tsconfig.tests.json
  website/development/contributing.md
  website/guide/getting-started.md
Due: unittests, Validators

chore: update website dependencies and renderer cache
  docs/projects/issue-follow-through.md
  package-lock.json
  package.json
  scripts/generate/og-images.ts
Due: none

chore: update website dependencies and renderer cache (#229)
  docs/projects/issue-follow-through.md
  package-lock.json
  package.json
  scripts/generate/og-images.ts
Due: none

ci: upgrade actions and secure release tag handling
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  .github/workflows/upstream-watch.yml
  docs/projects/issue-follow-through.md
  docs/releasing.md
  scripts/check/github-actions-provenance.json
  scripts/check/github-automation-profiles.json
  scripts/check/publish-workflow.sh
  tests/scripts/github-actions-security-policy.test.ts
  tests/scripts/release-workflow.test.ts
Due: none

docs: explain the 0.9 runtime upgrade requirement
  website/guide/getting-started.md
Due: none

ci: upgrade actions and secure release tag handling (#230)
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  .github/workflows/upstream-watch.yml
  docs/projects/issue-follow-through.md
  docs/releasing.md
  scripts/check/github-actions-provenance.json
  scripts/check/github-automation-profiles.json
  scripts/check/publish-workflow.sh
  tests/scripts/github-actions-security-policy.test.ts
  tests/scripts/release-workflow.test.ts
Due: none

docs: explain the 0.9 runtime upgrade requirement (#231)
  website/guide/getting-started.md
Due: none

fix: preserve changelog formatting with the upgraded generator
  .release-it.cjs
  .release-it.json
  RELEASING.md
  docs/projects/issue-follow-through.md
  tests/scripts/release-changelog.test.ts
Due: none

fix: preserve changelog formatting with the upgraded generator (#232)
  .release-it.cjs
  .release-it.json
  RELEASING.md
  docs/projects/issue-follow-through.md
  tests/scripts/release-changelog.test.ts
Due: none

chore: release v0.9.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/scripts/check-dependency.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Rules: any of: src/rules/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Validators: any of: src/validators/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  CLI: any of: src/cli/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Configuration: any of: src/config/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
  Schemas: any of: src/schemas/**, but not: tests/fixtures/**, tests/__temp__/**, tests/**/*.fixture.ts, src/index.ts, src/api/index.ts, src/schemas/index.ts, src/utils/index.ts, src/utils/validators/index.ts, src/validators/index.ts, src/rules/rule-ids.ts, src/rules/index.ts, src/cli.ts, src/cli/commands/**, src/cli/init-wizard.ts, src/cli/config-debug.ts, src/cli/utils/logger.ts, src/cli/utils/config-loader.ts, src/cli/utils/system-tools.ts, src/cli/utils/formatters/**, scripts/**, bin/**, docs/**, **/*.d.ts, dist/**, coverage/**, node_modules/**, *.config.js, *.config.ts, .eslintrc.js, jest.config.js
